[2017-12-11 09:53] alexgkendall opened #1 "Pre-trained imagenet models"
Awesome work, this is really nice for training big segmentation models!

Any chance you could please share pre-trained imagenet weights for your models?

[2017-12-14 07:52] pkontschieder commented on #1
@alexgkendall All ImageNet trained models from our paper have been added for download. Have fun!

[2017-12-14 07:53] #1 closed

[2017-12-14 09:49] iliadsouti opened #2 "Pascal VOC evaluation"
Thaks for sharing your code. Were there any experiments done on Pascal VOC?

[2017-12-14 17:16] rotabulo commented on #2
@iliadsouti No, we haven't run experiments on Pascal VOC. You can find the experiments we have conducted in our arXiv paper (https://arxiv.org/abs/1712.02616).

[2017-12-14 17:16] #2 closed

[2017-12-22 11:23] iliadsouti opened #3 "invalid device function"
I got an error on using both 'elu' and 'leakyrelu' activation :
File "/home/ubuntu/projects/inplace_abn/modules/functions.py", line 43, in _act_forward
    _ext.elu_cuda(x)
  File "/home/ubuntu/anaconda3/lib/python3.6/site-packages/torch/utils/ffi/__init__.py", line 180, in safe_call
    result = torch._C._safe_call(*args, **kwargs)
**torch.FatalError: function_attributes(): after cudaFuncGetAttri

[2017-12-22 14:28] ducksoup commented on #3
Are you using a Kepler GPU (e.g. K40 / K80)? If so, you should change the GPU architectures in  `modules/build.sh` before compiling the CUDA code, as the provided defaults or for Maxwell and Pascal GPUs (e.g. Titan X / Xp).

For Kepler cards, the correct setting is:
[code]

[2017-12-24 03:17] #3 closed

[2017-12-29 10:24] fighting-liu opened #4 "NAN output after several epochs"
Thanks for this great work! I've used resnext101 pretrained model in my project, taking avg pooling output as embeddings and using triplet loss to train the model, everything works fine for hundreds of epochs, and the convergence works fine too. But the outputs become nan suddenly and the program crashed, any suggestions? Thanks!

[2018-01-02 15:05] amrit110 commented on #4
I get the same issue using the InPlaceABN in another custom model after several epochs. due to the nan output, the loss becomes nan and error manifests as illegal memory access. really hard to trace the issue, any ideas?

[2018-01-02 16:17] pkontschieder commented on #4
Can you trace back this bug to our code, i.e. does it _not_ appear when you use standard pytorch BN + activation (leaky relu) layers?
In order to help you, we will need more information like a minimal example triggering this behavior, your GPU setting, console dumps, etc.

[2018-01-09 08:46] pkontschieder commented on #4
@fighting-liu and @amrit110
Do you have some follow-up information on this you can share with us?

[2018-01-10 12:39] dongzhuoyao opened #5 "where have the detail process information of achieving cityscapes SoTA?"

[2018-01-11 13:02] fighting-liu commented on #4
Sorry for reply late, as it's hard to reproduce the error, i need to run numbers of epochs to reproduce.  As the first time nan output occurs, i print the gradient of all parameters, all upstream gradients are ok until one of "InPlaceABN" layer, parameters are of shape (512,) (512,), and nan occurs in the gradient vector.
my setting: {"arch": "resnext101","activation": "leaky_relu","leaky_relu_slo

[2018-01-11 14:01] rotabulo commented on #4
@fighting-liu Could you please re-run the code by checking with an `assert` after [this line](https://github.com/mapillary/inplace_abn/blob/master/modules/functions.py#L108) whether `bias` contains 0s or nans ?

[2018-01-12 02:58] fighting-liu commented on #4
@rotabulo  @pkontschieder  Yes, i have verified, `weight` tensor contains 0s after number of epochs. This is my code snippet
` if weight.eq(0).any(): raise`

[2018-01-12 13:16] rotabulo commented on #4
@fighting-liu Thank you. We wrote about this potential issue in the paper, section 3.3 "Inversion of `\pi_{\gamma,\beta}`". In all trainings we have done, it never happened that gamma became 0. I am wondering whether you are using a l1-regularization of the network parameters and whether you are initializing all gamma to 1.

Nonetheless, a simple and easy fix that you can implement to move on with

[2018-01-12 16:13] pkontschieder commented on #5
@dongzhuoyao
The currently released code can only deal with image classification tasks (like ImageNet), but we have successfully used InPlace-ABN with a DeepLab3 segmentation head that was trained on top of the WideResNet38 model above. The training settings mostly follows the description in our [paper](https://arxiv.org/abs/1712.02616) but we strive to release code later this year.

[2018-01-12 16:13] #5 closed

[2018-01-16 15:26] ducksoup commented on #4
@fighting-liu We implemented a possible fix in 1ffbf200e7dce680f15f046c6ba7c61386d43583 and 25ca7ce265bfe676280c461735b84e791b971310. Can you please check if this fixes your issue?

[2018-01-17 07:22] fighting-liu commented on #4
@ducksoup Thanks, i will try it today, and further results will be reported here.

[2018-01-17 11:18] fighting-liu commented on #4
@ducksoup @rotabulo Thanks, it works now!

[2018-01-17 11:19] #4 closed

[2018-01-17 11:27] ducksoup commented on #4
@fighting-liu Thank you for reporting the bug, we are closing this now.

[2018-01-22 12:28] mingminzhen commented on #1
Why can not i open the downloaded model? Could you help recheck them? Or you can provide the .pth file directly.

[2018-01-22 12:57] rotabulo commented on #1
@mingminzhen We do provide the .pth.tar file for each model. You can download it by following the md5-link in the table containing the pre-trained models  (last column).

[2018-01-23 04:20] mingminzhen opened #6 "RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation"
I try to use the ABN, InPlaceABN, InPlaceABNSync. But some errors occur.

RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation

I test it on Pytorch-0.2, cudnnv7, cuda8.

[2018-01-23 04:22] mingminzhen commented on #1
In fact, i have downloaded the models. But I can not extract the .pth file correctly. It seems the .tar file is corrupted.

[2018-01-23 07:36] rotabulo commented on #6
@mingminzhen you cannot have two subsequent inplace operations in your computation graph. E.g., if you use InPlaceABN, the preceding and subsequent layer should not be inplace. If you use ABN and you use an inplace activation function (e.g. RELU with inplace set to True) then the subsequent layer cannot be inplace. There is a violation of this requirement somewhere in your net.

[2018-01-23 07:37] #6 closed

[2018-01-23 07:38] rotabulo commented on #1
@mingminzhen the model file is not supposed to be extracted. You should load it from python using `torch.load`.

[2018-01-23 12:13] PkuRainBow commented on #6
@rotabulo Sorry. I want to use the InPlaceABN for multi-gpu training. But you mean that I can not use subsequent InplaceABN operations in Resnet like:
[code]

[2018-01-23 12:54] PkuRainBow opened #7 "How the inplace_abn support multi-gpu and about the sequence of InPlaceABN operations?"
Do we need to make some specific modifications to support multi-gpu training, in the conventional pytorch, we can simply set   **model = nn.DataParallel(deeplab)**.
So can we simply do this with inplace_abn?

Besides, I also meet the errors

_RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation_

I find that a guy @rotabulo said that

"you ca

[2018-01-23 13:00] rotabulo commented on #6
@PkuRainBow the code above does not show how you actually create the computation graph, but if I get your intention correctly, you are going to apply in-place relu to the output of inplaceABN. This is not possible, because inplace operations should be followed by non-inplace operations. You should use InPlaceABN with an embedded invertible activation like leaky-relu and not with activation="none",

[2018-01-23 13:03] PkuRainBow commented on #6
@rotabulo I find the same error with the nn.ReLU(inplace=False)

[2018-01-23 13:05] rotabulo commented on #7
@PkuRainBow you can use nn.DataParallel with models that have InplaceABN, indeed the imagenet training script does use it (see, https://github.com/mapillary/inplace_abn/blob/master/test_imagenet.py#L76).

You can of course have multiple InPlaceABN layers in the network, but not in direct composition. In DenseNet you never have InPlaceABN in direct composition. There is always a convolutional layer

[2018-01-23 13:07] #7 closed

[2018-01-23 13:15] PkuRainBow commented on #6
I mean can i operate the InplaceABNSync in sequence order like this

[code]

[2018-01-23 13:23] rotabulo commented on #6
@PkuRainBow if you are using the standard resnet module provided by pytorch, you probably still have two consecutive in-place operations due to this line https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py#L90. Is this the case?

Regarding your last question. You are not showing the computation graph, but if your intention is to compose the different self.conv then that's po

[2018-01-23 13:27] PkuRainBow commented on #6
@rotabulo Great! So how should I change this line ?

`out += residual`

[2018-01-23 13:49] rotabulo commented on #6
@PkuRainBow yes, the solution you suggest solves the consecutive in-place issue, and yes you loose some memory savings. We indeed opted for ResNetv2 because it exhibits BN-act patterns everywhere, while this is not the case for ResNetv1. The latter version of Resnet can still be optimized in terms of memory, but requires some more modifications.

[2018-01-23 14:03] John1231983 commented on #7
Regarding to multiple gpus, I have a question about training batch norm. AFAIK, the tensorflow compute batch norm statistic in each GPU and used a BN statistics to update and for inference. That may not exploit the benefit of BN for training with larger of batch size. How about your method? Does it can compute BN statistic based on information of all GPUs? Thanks for great work

[2018-01-23 14:08] rotabulo commented on #7
@John1231983 We have both implementations. InPlaceABN computes statistics locally in each GPU as in standard multi-gpu implementation of BN, while InPlaceABNSync (https://github.com/mapillary/inplace_abn/blob/master/modules/bn.py#L108) synchronizes the statistics across all the GPU during fwd and bwd passes. This makes the outcome equivalent to having computed the gradient for the entire batch on

[2018-01-23 14:21] mingminzhen commented on #6
@rotabulo How about the denseNet, I try the official [densenet](https://github.com/pytorch/vision/blob/master/torchvision/models/densenet.py). Now there is no problem for ABN.
But error is still for InplaceABN.

[2018-01-23 14:25] mingminzhen commented on #6
The code for denselayer is
[code]
The _transition layer is

[code]

[2018-01-23 14:32] rotabulo commented on #6
@mingminzhen You cannot use InPlaceABN with activation="relu" because on one hand it's not implemented and on the other hand it's not invertible and this is a requirement (see arxiv paper for technical details). You can use "leaky_relu" or "elu". Please note that we have recently added also the densenet model (https://github.com/mapillary/inplace_abn/blob/master/models/densenet.py).

[2018-01-23 15:03] mingminzhen commented on #6
It's helpful. thanks.

[2018-01-23 15:06] PkuRainBow commented on #6
@rotabulo It would be great if you could share me the ResNet V2 with InplaceABN. In fact, I do not find memory savings with InplaceABN  as I have to give up some original inplace operations.

[2018-01-23 15:20] ducksoup commented on #6
@PkuRainBow Unfortunately we do not have a pre-trained ResNet v2. However, it is very easy to obtain the correct network structure for a ResNet v2 using our code, as it is a special case of ResNeXt, for which we provide an implementation. In particular, you need to specify `groups=1` and `base_channels=(64, 64, 256)` in the constructor, _e.g._ to obtain a ResNet152 v2 with InPlaceABN you can use:

[2018-01-23 23:46] John1231983 commented on #7
Great feature. Do you have any plan to implement it in Tensorflow. I think many people included me will interest it

[2018-01-24 03:07] PkuRainBow commented on #6
@ducksoup @rotabulo Thanks for your great reply!  Besides, I am wondering about the other solutions to avoid the memory cost of the ` out = out + residual` in the Bottle-Neck-Block.  As I find your paper report that you can save about 50% memory cost. But I have replaced all the BN with InplaceABNSync and change the `out += residual` to  ` out = out + residual` while keeping all the other staff sa

[2018-01-24 11:33] mingminzhen commented on #6
@rotabulo @ducksoup Could you show your ASPP code which is for deeplabV3? I try to implement it myself, but there is still error "RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation"
      In fact, the previous  layer is conv layer. So there are no two subsequent inplace layers. It's weird.
Could you help me?

[code]

[2018-01-24 11:53] yjl9122 opened #8 "RuntimeError: CUDA Error encountered in <function CompiledLib.bn_mean_var_cuda at 0x7fd9869af0d0>"
When I use InplaceABN, i got such error. But i compile it well

[2018-01-24 11:54] yjl9122 commented on #8
the error comes form:
     85             var = x.new().resize_as_(running_var)
     86             _check_contiguous(x, mean, var)
---> 87             _check(_ext.bn_mean_var_cuda, x, mean, var)

[2018-01-24 12:46] rotabulo commented on #8
@yjl9122 could you please give us details about the GPU you are using?

[2018-01-24 12:52] rotabulo commented on #6
@mingminzhen I don't see evident issues in the code snipped you provided. The only potential source of the error might come from `x` given in input to the `forward` function. Indeed, the first operation that you apply to `x` is `norm_act`. If the latter was an inplace operation (e.g. InplaceABN) and `x` was generated by an inplace operation, then you would get a runtime error. Can you check what's

[2018-01-24 12:58] rotabulo commented on #6
@PkuRainBow how do you check the memory savings?

[2018-01-24 13:01] yjl9122 commented on #8
@rotabulo i use cuda8.0 cudnn7, gpu is tesla k80

[2018-01-24 13:05] mingminzhen commented on #6
@rotabulo Is it possible that InplaceABN will inplace x at ```aspp1``` part. Then for aspp2(x), the x is not the original input, it's in fact y1?

[2018-01-24 13:08] rotabulo commented on #8
@yjl9122 thank you. The CUDA kernels are compiled for sm_50, sm_52 and sm_61 by default, so they won't be compatible with Kepler cards like the K80. For Kepler cards you should modify `build.sh` and set
[code]

[2018-01-24 13:14] rotabulo commented on #6
@mingminzhen Now I see, it's applied in parallel. Yes this is definitely the issue. The aspp1 modifies `x`, and then aspp2 issues a second inplace operation on `x`. You should simply apply inplaceABN once to `x` in `ASPP_Module`, and not multiple times in each `ASPP_ConvLayer`.

[2018-01-24 13:15] PkuRainBow commented on #6
@rotabulo So how should I check the memory saving? Do you mean I can increase the batch size even with the same number shown by the nvidia-smi?

[2018-01-24 13:16] rotabulo commented on #6
@PkuRainBow exactly.. just increase the batch size until it issues an out of memory exception. And compare how far you get when using ABN (standard setting) vs InPlaceABN.

[2018-01-24 13:23] mingminzhen commented on #6
@rotabulo If the issue is the parallel structure, then for densenet (```torch.cat([f(x),x])```)or resnet(``` f(x)+x```), is the second``` x``` not the original input?
It's similar in your DenseModule.

[code]

[2018-01-24 13:28] mingminzhen commented on #6
Does  ``` torch.cat``` concatenate and copy the inputs? Then the original one is unchanged.
So if I want to implement the ASPP structure. I need to copy the input firstly. Right?

[2018-01-24 13:31] mingminzhen commented on #6
I see. In your ``` IdentityResidualBlock```, you use ```shortcut = x.clone()  ```.

[2018-01-24 13:53] rotabulo commented on #6
@mingminzhen The issue is not the parallel structure per se, but the wrong way of using InPlaceABN in the parallel structure.  `torch.cat` is not an in-place operation and we use `x.clone()` in 'IdentityResidualBlock' to prevent from having two consecutive inplace operations (i.e. `add_` and `InplaceABN`).

[2018-01-24 14:24] mingminzhen commented on #6
@rotabulo thanks.

[2018-01-24 14:47] PkuRainBow commented on #6
@rotabulo Thanks! Besides, I am wondering the difference between ABN and inPlaceSyncABN, the latter one is expected to save more memory or just support multi-gpu?

[2018-01-24 14:54] rotabulo commented on #6
`ABN` is standard BN + activation (no memory savings).
`InPlaceABN` is BN+activation done inplace. (with memory savings).
`InPlaceABNSync`is BN+activation done inplace. (with memory savings) + synchronization of statistics computed with data from all the gpus

[2018-01-25 02:09] yjl9122 commented on #8
@rotabulo Thanks， i get it.

[2018-01-25 02:09] yjl9122 commented on #8
close

[2018-01-25 05:02] yjl9122 commented on #8
I got another error. when I run it
RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation

[2018-01-25 08:52] rotabulo commented on #8
@yjl9122 please, have a look at https://github.com/mapillary/inplace_abn/issues/6

[2018-01-25 09:53] yjl9122 commented on #8
@rotabulo Thanks, i get it. I have solved it.

[2018-01-25 09:54] yjl9122 commented on #8
closed

[2018-01-25 09:58] yjl9122 commented on #8
Would you release a version,  syncBatchNormalization like nn.batch_norm when we use it.

[2018-01-25 10:26] rotabulo commented on #8
@yjl9122 Having an implementation of synchronized BN is beyond the scope of this work, but it's straightforward to derive it from the code we provide.

[2018-01-25 10:26] #8 closed

[2018-01-25 12:04] mingminzhen commented on #6
@rotabulo I test the InplaceABN on PyTorch v3 (torch-0.3.0.post4-cp35-cp35m-linux_x86_64.whl). It seems there is no error. Is the bug solved as you mentioned in the readme?

[2018-01-25 12:54] rotabulo commented on #6
@mingminzhen We know that the issue has been solved in `master`, and from the pytorch issue thread they write that they have not fixed it in v0.3. However, the bug occurs apparently only with python 2.7 and not with python 3.x. If you are in the latter case, then the code should run without issues.

[2018-01-25 13:53] mingminzhen commented on #6
@rotabulo Another question is about semantic segmentation. Do  your pre-train the mdoel on MScoco or other data for the Cityscape dataset?

[2018-01-25 16:57] PkuRainBow commented on #6
@rotabulo I also got the the similar bug ....and replace the pytorch v0.2....But v0,2 is much slower than v0.3 .......

[2018-01-25 17:19] rotabulo commented on #6
@PkuRainBow this is unfortunately out of our control. Pytorch v0.3 with python 2.7 is buggy. Pytorch v0.3 with python 3.x should work. Also master with python 2.7 should work. Maybe you can give a try.

[2018-01-26 06:38] alexalex1234 opened #9 "compile error"
Hi, I have this error when I compile this repo
So, how can i fix it
Thanks

[code]

[2018-01-26 07:58] PkuRainBow opened #10 "GPU specifing bug?"
I run my script and specify to use the GPUs 4,5,6,7. But InplaceABNSync is always based on [0,1,2,3], which is very strange?

As far as I am concerned, the design of your method must specify to use multi-gpus starting from  GPU0 as the worker , master design. Am I right?

There is a bug here(line#137 of bn.py),
`
        self.devices = devices if devices else list(range(torch.cuda.device_count()))

[2018-01-26 08:50] ducksoup commented on #10
@PkuRainBow I see two different solutions here:
1. In case you are specifying which GPUs to use via the [CUDA_VISIBLE_DEVICES](https://devblogs.nvidia.com/cuda-pro-tip-control-gpu-visibility-cuda_visible_devices/) environment variable, then the InplaceABNSync showing `[0, 1, 2, 3]` is actually expected behavior and working as intended. In fact, when using this method, from Pytorch's perspective th

[2018-01-26 08:58] PkuRainBow commented on #10
![default](https://user-images.githubusercontent.com/4639578/35432155-20204bf0-02ba-11e8-81b7-1d57014e6f10.png)

[2018-01-26 09:01] ducksoup commented on #10
@PkuRainBow I'm sorry but I don't understand what that screen-shot is supposed to show.

[2018-01-26 09:04] PkuRainBow commented on #10
@ducksoup         if x.get_device() == self.devices[0]:

[2018-01-26 09:08] ducksoup commented on #9
Hi @alexalex1234 , can you give me some additional information on your environment? From the error log it looks like some C++ code is being compiled using a C compiler, which shouldn't happen.

[2018-01-26 09:08] rotabulo commented on #10
@PkuRainBow are you using CUDA_VISIBLE_DEVICES=4,5,6,7 _and_ passing `device` arguments the InPlaceABNSync ?

[2018-01-26 09:09] PkuRainBow commented on #10
@rotabulo Yes, exactly!

[2018-01-26 09:10] rotabulo commented on #10
@PkuRainBow Then you are probably erroneously passing 4,5,6,7 also to the `device` argument, since gpus have been already logically remapped to 0,1,2,3 by the env variable.

[2018-01-26 09:12] ducksoup commented on #10
@PkuRainBow Passing `CUDA_VISIBLE_DEVICES=4,5,6,7` is enough to let the script use those devices, without modifying anything else.
Once you pass `CUDA_VISIBLE_DEVICES=4,5,6,7`, inside the script those GPUs get renamed as `0,1,2,3`, but they are infact _the correct GPUs_. You should be able to check this from `nvidia-smi`.

[2018-01-26 09:16] PkuRainBow commented on #10
It seems contradict with what you have said ...

Here is the bug if I only pass the CUDA_VISIBLE_DEVICES=4,5,6,7 without setting the parameters of the InplaceABNSync...

![default](https://user-images.githubusercontent.com/4639578/35432936-ad6b71a4-02bc-11e8-802c-e95ab96ab3eb.png)

[2018-01-26 09:29] alexalex1234 commented on #9
I change the code in modules/build.py
 extra_compile_args=["-std=c99"]
Then I can compile this repo.

Furthermore, what should I do the see the environment of my server.
I compile the Pytorch just like what their official repo said.

I use Cuda9.0 and cudnn 6

Thanks

[2018-01-26 09:36] ducksoup commented on #9
@alexalex1234 Is the code compiling and working correctly now that you added that flag?

[2018-01-26 09:39] ducksoup commented on #10
@PkuRainBow From what I can see in the error logs you posted there's nothing indicating that the errors are due to the wrong GPUs being used.

Can you please try using InplaceABN instead of InplaceABNSync and check if the error occurs?

[2018-01-26 09:40] alexalex1234 commented on #9
I haven't tried to train some model. But I change the flag, the repo can be compiled.
Maybe the version of gcc cause  the error.
My another sever's gcc version is 5.4 and can compile this repo correctly without any changes.

Thanks!

[2018-01-26 09:44] ducksoup commented on #9
Yes, the bug could be related to the gcc version. I'll check whether adding that flag causes issues with other versions of gcc, otherwise I'll consider adding it as default.

Thank you for your report!

[2018-01-26 09:45] #9 closed

[2018-01-27 15:31] John1231983 commented on #6
I think his implementation of ASPP is missing global average pooling. Am I right? Btw, I did not find your implementation of Deeplabv3 in this probject. Where is it? Thanks

[2018-01-28 05:03] PkuRainBow opened #11 "CUDA erro: an illegal memory access was encountered"
Have anyone ever meet this error?

![default](https://user-images.githubusercontent.com/4639578/35479172-a706269a-042b-11e8-9276-371adb3d1d68.png)

[2018-01-29 12:31] pkontschieder commented on #11
@PkuRainBow it seems like your error is unrelated to the code we are providing and therefore not a qualified issue for our repository

[2018-01-29 12:31] #11 closed

[2018-02-07 08:16] #10 closed

[2018-02-11 10:03] ankurhanda opened #12 "any tf implementation?"
Do you know of any tensorflow implementation of this work? It would be quite helpful.

[2018-02-12 13:31] pkontschieder commented on #12
@ankurhanda We are not aware of any TF re-implementations but at the same time not really monitor this. Feel free to re-open this issue and add references in case you find implementations for other frameworks.

[2018-02-12 13:31] #12 closed

[2018-02-26 15:45] PkuRainBow opened #13 "no kernel image is available for execution on the device"
My envioroment is :

I excute my program and meet trouble like this:
Here the subfolder module stores the implementation of your method.

![image](https://user-images.githubusercontent.com/4639578/36679802-1342847c-1b4f-11e8-86ee-11d5f8ad6a7c.png)

[2018-02-26 17:05] pkontschieder commented on #13
Did you already [compile](https://github.com/mapillary/inplace_abn/#compiling) the code with proper settings for your GPUs?

[2018-02-28 06:53] PkuRainBow commented on #13
@pkontschieder  Yes, I meet no errors when build your code.

[2018-02-28 13:33] rotabulo commented on #13
@PkuRainBow do you have the file inplace_abn/modules/_ext/__ext.so ? If so, can you provide us with the output of the command `nm -gC __ext.so` ?

[2018-03-01 14:22] mathmanu opened #14 "RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation"
I am using Python 3.5, Pytorch 0.3.1

I get the following error when using any of the InPlaceABN variants:
RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation

~~I looked through the code of in-place abn and found the following lines in functions.py
            # Update running stats
            running_mean.mul_((1 - ctx.momentum)).add_(ctx

[2018-03-01 14:27] rotabulo commented on #14
@mathmanu maybe having a look to https://github.com/mapillary/inplace_abn/issues/6 helps you in fixing the issue.

[2018-03-01 14:35] mathmanu commented on #14
Thanks. There was an inplace residual connection that caused the problem. Since there cannot be two back to back in-place operations, that caused an error.

[2018-03-01 14:45] #14 closed

[2018-03-01 14:59] mathmanu opened #15 "ZeroDivisionError: float division by zero when slope is set to 0"
I would like to use InPlaceABN with ReLU activation, but there is only support for "leaky_relu", "elu" and "none".

I tried to simulate ReLU by setting slope to 0,
InPlaceABNSyncWrapper(planes, slope=0)

**but I got the following error:**
  File "/user/a0393608/files/apps/anaconda2/envs/pytorch/lib/python3.5/site-packages/torch/autograd/variable.py", line 167, in backward
    torch.autograd.backwa

[2018-03-01 15:50] mathmanu commented on #15
I should have read the paper carefully.

In-Place Activated Batch Normalization I. A limitation
of the memory-reduction strategy described above is that
the last layer, namely CONV in the example, depends on
non-local quantities like x (or xˆ) for the computation of the
gradient. This makes the implementation of the approach
within standard frameworks somewhat cumbersome, because
the backward pass

[2018-03-01 15:57] rotabulo commented on #15
@mathmanu Yes, the trick works only for invertible activations, so setting the slope to 0 is not feasible.
I close the issue.

[2018-03-01 15:57] #15 closed

[2018-03-12 04:19] seungwooYoo opened #16 "Question regarding batch size when distributed training of "sync" option"
Hi,

Firstly thanks for sharing the awesome project 👍

I have a question regarding BN "sync" option when using distributed training. Question is is BN parameter is also synced for all distributed machines ?

Specifically, let's say I have 2 machines which having 4 GPUs each.
If I train a network with batch size as 512 and "sync" option with distributed training, then is it correct that all BN para

[2018-03-12 08:25] rotabulo commented on #16
@seungwooYoo The current implementation of the synchronized BN works only on multiple gpus within the same machine and process.

[2018-03-13 00:50] seungwooYoo commented on #16
@rotabulo Thanks for answering.

[2018-03-13 00:50] #16 closed

[2018-03-13 05:51] mathmanu opened #18 "ResNeXt50 ImageNet pretrained model"
Is it possible to publish ResNeXt50 ImageNet pretrained model if you have it?

Thanks,

[2018-03-13 12:30] pkontschieder commented on #18
@mathmanu I am afraid we haven't trained that model so far but you can do it yourself by e.g. modifying this network [config file](https://github.com/mapillary/inplace_abn/blob/master/experiments/resnext101_ipabn-sync_lr_256.json), replacing "resnext101" with "resnext50" and potentially changing some of the hyper-parameters according to your preferences.

[2018-03-13 12:31] mathmanu commented on #18
Thanks. I'll try to do that.

[2018-03-13 12:31] #18 closed

[2018-03-24 16:02] alexalex1234 opened #20 "How many gpus did you use in the semantic segmentation task."
Hi, I want to repeat your experiments on cityscapes datasets.
I use the inplace bn  and your widerresnet but it also consume lots of memory of ecah gpu
So I want to know : How many gpus did you use in the semantic segmentation task?
Thanks

[2018-03-26 07:45] rotabulo commented on #20
@alexalex1234 As we wrote in the arXiv paper (Sec. 4):

You can then find the batch sizes and crop sizes we used in Tables 3 and 4.
I hope this answers your question.

[2018-03-28 15:01] PkuRainBow commented on #8
I am trying to use the inplaceABN within docker on GPU cluster with P100.  i have run the build.sh and build.py successfully but failed. Could you please help me?

[code]

[2018-03-28 15:05] rotabulo commented on #8
@PkuRainBow did you set the proper compute capability in `build.sh`. which is 6.0 for the P100 ?
You should set `-gencode=arch=compute_60,code=sm_60`

[2018-03-28 15:06] PkuRainBow commented on #8
I use the default settings.

[code]

[2018-03-28 15:07] rotabulo commented on #8
Then it's wrong, you need to set the `compute_60` and `sm_60`.

[2018-03-28 15:08] PkuRainBow commented on #8
The original three lines should be deleted?

[2018-03-28 15:09] rotabulo commented on #8
If you use only P100, you can delete the other ones, but it will work also if you leave them.

[2018-03-28 15:17] PkuRainBow commented on #8
I still get the same error.....

[code]

[2018-03-28 15:22] rotabulo commented on #8
Did you rerun:
[code]

[2018-03-28 16:02] PkuRainBow commented on #8
Yes, I re-run the command.

[2018-03-29 12:01] rotabulo commented on #8
@PkuRainBow we need more information about the type of cuda error. You could print the cuda error here (https://github.com/mapillary/inplace_abn/blob/master/modules/src/bn.cu#L247), by adding
[code]

[2018-03-29 15:36] PkuRainBow commented on #8
@rotabulo Thanks for your kind help. I have solved the problem by rebuilding it.

[2018-03-30 20:21] #20 closed

[2018-04-11 06:46] PkuRainBow opened #21 "ValueError: in_channels must be divisible by groups"
Hi,

I want to train the deeplabv3 based on the ResNext model. But when I try to run the script, it informs that the errors like:

![image](https://user-images.githubusercontent.com/4639578/38600531-08aa9d32-3d97-11e8-888c-0cda95498697.png)

I check the code find groups=64 by default.
could you help me?
Thanks

##################################################

Besides, I am also wondering one sm

[2018-04-11 07:10] rotabulo commented on #21
@PkuRainBow Each grouped convolution requires the numer of groups to divide `inchannels`. Apparently, you create an `IdentityResidualBlock' object in your 'psp_resnext' script where this condition is violated.

As for sync vs non-sync, take into account that by using synchronized ABN your gradient estimation has a smaller variance, which has an implicit effect on the step size. In other terms, you

[2018-04-11 08:16] PkuRainBow commented on #21
@rotabulo Yeah. I still have not figured out the first problem.

As i use the default parameters to create the ResNext.

 `model = ResNeXt([3, 4, 23, 3], num_classes)`

And the codes for the ResNext just follow exactly the code you provide like below,

[code]

[2018-04-15 14:59] Paranoidv opened #22 "About wider_resnet38_a2"
Hi, Thank you for yor good work , en , I want to ask you that , have you train WiderResNetA2 with ImageNet dataset? if you have , can you share the trained model ? Thank you!!!!!!!!!

[2018-04-18 10:51] ducksoup commented on #22
Hi @Paranoidv , unfortunately we don't have a WiderResNetA2 model trained on ImageNet. However, you can safely use the WiderResNet weights we provide to initialize WiderResNetA2: this will still produce decent results, which can be further improved by running a couple epochs of fine-tuning on ImageNet.

[2018-04-20 09:05] #21 closed

[2018-04-20 09:05] #22 closed

[2018-04-20 13:15] PkuRainBow opened #23 "How to train the ResNext model on the Cityscapes?"
I used to train the PSP with the original ResNet-101(7x7 convolution) and achieve 76.8 mIou on the val set of Cityscapes. Thus I want to replace the ResNet-101 with the ResNext-101(the imagenet pretrained model you provide) and train it with the same parameters, but the performance seems very poor(66.4). Do you use the COCO to finetune the ResNext model?

Could you give me some tips to tune the hy

[2018-04-24 02:15] Paranoidv commented on #23
@PkuRainBow
Hi, how to train PSPNet with with the original ResNet-101(7x7 convolution) and achieve 76.8 mIou ?? I have train PSPNet once, but just get miou about 65.0, can you share me the code and model ? Thank you !!

[2018-04-24 02:37] PkuRainBow commented on #23
@Paranoidv We plan to release the code in the future days. The current times is not convenient as we are preparing for a paper.

[2018-04-24 02:45] Paranoidv commented on #23
@PkuRainBow
Thanks for your reply ,I understand. en, I want to ask that when you train PSPNet, have you use the pretrained ResNet-101 or not, and what the batch_size is ?

[2018-04-24 02:49] PkuRainBow commented on #23
@Paranoidv I used the COCO pretrained model. Batch size is set 8. LR=7e-3, weight decay=5e-4,  all the other settings follow the Deeplabv3. We only train the model for 4w iterations. More iterations could lead to slighly better performance.

[2018-04-24 02:52] PkuRainBow commented on #23
@Paranoidv [](https://github.com/CSAILVision/semantic-segmentation-pytorch) This repo seems a good start point~

[2018-04-24 02:52] Paranoidv commented on #23
@PkuRainBow
Very appreciate! I have one GPU, so, I set the batch_size=2, I will try with you advice !

[2018-04-24 02:55] Paranoidv commented on #23
@PkuRainBow
Another question, the original thesis about PSPNet says that miou is 81.2 on Cityscapes, have you get the same or better miou??

[2018-04-24 02:56] PkuRainBow commented on #23
@Paranoidv I recomend to to apply more resources. We run all of experiments with 4X GPUs.  We submit and achieved 79.7(w/o coarse data) with our own method. The original PSP can only achieve around 77~. We still can not reproduce their 81.2 performance.

[2018-04-24 02:59] Paranoidv commented on #23
@PkuRainBow
Thanks !! I will try, big batch_size could get better miou？ there may be connection

[2018-05-02 03:57] PkuRainBow opened #24 "About the class reweighting method"
Hi, I noticed that in the Table 2 of the paper of

It mentions that with class reweighting, we can get about 1.3 points improvements. Could you show me how do to compute your class-aware weights?

I have tried other similar strategy but only get about 0.5 improvements.

[2018-05-03 08:51] rotabulo commented on #24
@PkuRainBow you should ask the authors of PSPNet, since we are just reporting the results that they obtained on the LSUN'17 segmentation challenge.

[2018-05-04 08:29] #24 closed

[2018-05-14 06:52] PkuRainBow opened #25 "The performance gap between the val set and test set"
Hi, I have trained some models and achieved new state-of-the-art performance on the val set of the cityscapes.( the modified ResNet)

But when I submit the results on the test set. I find the performance gap is very large!

With single crop, the performance on the val set will drop 2 points on the test set. I guess maybe it is related to the DSN structure or related to the learning rate  and so on

[2018-05-14 10:14] PkuRainBow commented on #25
@dongzhuoyao Are you using this baseline? How about your learning rate, weight decay and backbone?

[2018-05-14 10:16] PkuRainBow commented on #25
Maybe this gap is related to the COCO pretraining? Or related to the modified structure of the resnet?

[2018-05-14 10:36] dongzhuoyao commented on #25
I think this is not related to learning rate, weight decay and backbone. Maybe there is a problem in your local mIoU evaluation code.

[2018-05-14 11:43] PkuRainBow commented on #25
@dongzhuoyao So do you mean that you have find some bugs in your local evaluation code?

[2018-05-14 14:09] PkuRainBow commented on #25
@dongzhuoyao I find that my performance drop is closely related to the class truck.
The mIOU for truck is 81.6 on val set and drops to 62 on the test set. It is very strange.

[2018-06-06 13:44] PkuRainBow opened #26 "error: An extended __device__ lambda must not be defined in a function that is defined within another function"
Hi, I find that you have updated your repo and I download the new repo.

I try to build the repo under such enviroments:

[code]
I meet such errors:
![image](https://user-images.githubusercontent.com/4639578/41041829-be55a2f0-69d2-11e8-93b7-b1af7f46c4b4.png)

[2018-06-06 14:57] PkuRainBow commented on #26
@ducksoup

[2018-06-07 09:21] fgtoralesch commented on #26
I had a similar issue, and in my case it was related to not finding cuda in "/usr/local/cuda" path. I solved it creating a symbolic link to my cuda path. Hope it helps.

[2018-06-07 09:41] PkuRainBow commented on #26
@fbertetto Thanks, could you show me the exact operation to solve this problem?  As I can excute "nvcc" successfully.

[2018-06-18 06:42] lxtGH opened #27 "build problems"
modules/src/inplace_abn_cuda.cu:192:21: error: macro "AT_ASSERT" passed 2 arguments, but takes just 1
modules/src/inplace_abn_cuda.cu:193:19: error: macro "AT_ASSERT" passed 2 arguments, but takes just 1
   CHECK_INPUT(bias);
                   ^
modules/src/inplace_abn_cuda.cu:193:19: error: macro "AT_ASSERT" passed 2 arguments, but takes just 1
modules/src/inplace_abn_cuda.cu:257:16: error: macr

[2018-06-25 07:53] tt-leader commented on #23
@PkuRainBow Hi, I'm reproducing deeplab v3+ on cityscapes, and archive 79.3% at test split without coarse annotations. Did you use coarse data? And how will you use coarse data to increase your performance?

[2018-06-25 08:02] PkuRainBow commented on #23
@tt-leader  Do you use ms + flip? Besides, do you use validation set for training?

[2018-06-25 10:12] lizleo commented on #27
hi @pkontschieder
I met an error as follows:

running install
running bdist_egg
running egg_info
writing top-level names to inplace_abn.egg-info/top_level.txt
writing inplace_abn.egg-info/PKG-INFO
writing dependency_links to inplace_abn.egg-info/dependency_links.txt
reading manifest file 'inplace_abn.egg-info/SOURCES.txt'
writing manifest file 'inplace_abn.egg-info/SOURCES.txt'
installing library

[2018-06-25 12:29] lizleo commented on #26
@PkuRainBow
Hello , have you fixed this problem?

[2018-06-25 13:22] PkuRainBow commented on #26
In fact, I have not solved this problem currently. @ducksoup  Ask for help~

[2018-06-25 13:31] rotabulo commented on #26
@PkuRainBow did you re-compile the cuda code with `python setup.py install` ?

[2018-06-25 13:41] PkuRainBow commented on #26
@rotabulo Yeah. I just create a new enviroment with conda and install the pytorch v0.4.

Then I download your current repo and recompile the cuda code with  **python setup.py install **

The reported exact errors still exist.

[2018-06-25 13:52] ducksoup commented on #26
@PkuRainBow after a bit of googling I found out that your problem is related to the CUDA version: the way we use `__device__` lambda functions is only supported from CUDA 9.0 onward.

[2018-06-25 14:00] rotabulo commented on #27
@lxtGH can you try with cuda 9 ?

[2018-06-25 14:05] ducksoup commented on #25
I'll close this issue since it doesn't appear to be related with the InPlace-ABN code.

[2018-06-25 14:05] #25 closed

[2018-06-25 14:07] ducksoup commented on #23
I'm closing this issue since it doesn't appear to be related with the InPlace-ABN code.

[2018-06-25 14:08] #23 closed

[2018-06-25 14:13] PkuRainBow commented on #26
@ducksoup Thanks for your help! I will try the cuda9.0.

[2018-06-25 14:31] ducksoup commented on #26
@PkuRainBow I just uploaded a small patch that should fix CUDA 8.0 compatibility, can you test with the latest commit in the `pytorch_v0.4` branch?

[2018-06-25 14:32] ducksoup commented on #27
@lizleo a patch that should fix CUDA 8.0 compatibility has just been added to the `pytorch_v0.4`. Can you test if this fixes your issue and get back to us?

[2018-06-25 14:47] PkuRainBow commented on #26
@ducksoup I will test it now and report the results later.

[2018-06-25 16:42] lizleo commented on #27
@rotabulo cuda 9.0 works, thanks a lot~

[2018-06-25 16:43] lizleo commented on #26
@PkuRainBow cuda 9 works, and thanks for your help~

[2018-06-25 16:44] rotabulo commented on #27
@lizleo welcome, I close the issue

[2018-06-25 16:44] #27 closed

[2018-06-26 07:49] #26 closed

[2018-06-26 23:16] ternaus opened #28 "Lock, using Inplace ABN Sync"
I can not figure out, how to deal with the freeze that happens when I am using ABNsync.

At some point of training freezes leaving one GPU with 0 utilization and the rest of them with 100%
[code]

I am trying to have better logging but it is unclear in what part of the code should I add logging to catch this lock.

[2018-06-27 08:43] rotabulo commented on #28
@ternaus are you using `virtualenv` ?

[2018-06-27 08:54] rotabulo commented on #28
If so, you need to edit: `~/.virtualenvs/<env name>/lib/<your python version>/site-packages/torch/nn/parallel/parallel_apply.py` and replace
[code]
with
[code]
It might be that an exception gets raised and the corresponding thread dies, leaving syncBN stuck.

[2018-06-28 21:15] ternaus commented on #28
Same story. :(

Do you use OpenCV to perform augmentations during training?

[2018-06-28 22:56] ternaus commented on #28
I get similar issues even in the nonsync regime.

And hints from this thread https://github.com/pytorch/pytorch/issues/1637
for not help :(

[2018-06-28 22:56] #28 closed

[2018-07-11 14:22] PkuRainBow opened #29 "When could you release the codes on Mapillary dataset?"
Really great repo.

I am wondering when would it be convenient for you to opensource the codes on Mapillary dataset?

We want to conduct some experiments based on your baseline.

[2018-07-13 02:57] irfanICMLL commented on #3
Helllo！ I use a v100GPU, and I got the same error using both settings as

[2018-07-13 07:14] ducksoup commented on #3
@irfanICMLL The correct settings for V100 GPUs (i.e. Nvidia Volta architectures) are:

[code]

[2018-07-19 06:55] pkontschieder commented on #29
We have just released model and inference code for our #1 ranked Mapillary Vistas Semantic Segmentation model.

[2018-07-19 09:11] eugenelawrence commented on #29
Hi, @pkontschieder
Will you release the code on Cityscapes?

[2018-07-24 09:02] alexgkendall opened #30 "Semantic segmentation logit fusion"
Awesome work and thanks for releasing the pretrained weights - when evaluating semantic segmentation do you observe best performance with mean, voting or max fusion of multiple segmentation logits?

[2018-07-25 21:45] ternaus opened #31 "class uniform sampling"
In http://openaccess.thecvf.com/content_cvpr_2018/papers/Bulo_In-Place_Activated_BatchNorm_CVPR_2018_paper.pdf

you say:
[code]

How exactly do you perform this on a Vistas Dataset, where each image has from 1 to 66 classes?

[2018-07-26 17:57] ternaus commented on #31
Am I right?

1. You pick one out of 65 classes randomly uniformly.
2. Randomly choose an image that contains this class?

[2018-07-26 19:12] rotabulo commented on #31
@ternaus yes. To be more precise, since we crop the image, we ensure that the crop contains at least one pixel of the sampled class.

[2018-07-26 20:03] ternaus commented on #31
Do you repeat RandomCrop till you ensure that target class pixel exists on the image?

[2018-07-26 20:05] rotabulo commented on #31
No, we just randomly pick a pixel of the target class from the image and sample a crop that contains it.

[2018-07-26 21:35] ternaus commented on #31
Thank you!

[2018-07-26 21:35] #31 closed

[2018-07-31 02:25] ternaus opened #32 "ninja errors"
Ubuntu 18.04

[code]

[code]

[code]

[2018-07-31 07:05] rotabulo commented on #32
@ternaus can you please check the pytorch version with `torch.__version__` ?

[2018-07-31 13:34] aurora95 commented on #32
Got the same error, my pytorch version is 0.4.1 and my gcc is 5.4.0.

[2018-07-31 14:27] rotabulo commented on #32
@ternaus @aurora95 can you please pull my updates to the repo and retry?

[2018-07-31 16:53] ternaus commented on #32
[code]

After pull:
[code]

[2018-07-31 18:50] aurora95 commented on #32
@rotabulo The update solves my problem! Thanks!

[2018-07-31 23:32] ternaus commented on #32
Is it possible for now to add back an option to compile inplace_abn manually with:
[code]
?

[2018-08-01 20:43] ternaus opened #33 "Provided code + weights for Vistas"
I can not reproduce the 0.53 result on the validation set of the Vistas dataset. Could you please verify?

[code]

[2018-08-01 22:37] ternaus commented on #33
Another thing that bothers me is that I do not see how dilation parameter defined as a Tuple in this line
https://github.com/mapillary/inplace_abn/blob/master/test_vistas.py#L206

is used in the network definition

https://github.com/mapillary/inplace_abn/blob/master/models/wider_resnet.py#L101

[2018-08-02 02:06] ternaus commented on #32
cuda 9.2 solved the problem

[2018-08-02 02:06] #32 closed

[2018-08-02 07:05] ansleliu opened #34 "SIGSEGV for CUDA8.0"
Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

[2018-08-02 08:05] rotabulo commented on #33
@ternaus we are double-checking the scores that we get with the test script and come back to you once we reproduce and solve the issue.
As for your observation about the dilation parameter, our code is indeed neglecting the dilation tuple, for the model assumes a boolean parameter, which switches between x8 and x32 downsampling as reported in the documentation of the WiderResNetA2.

[2018-08-02 08:54] rotabulo commented on #34
@ansleliu can you provide us with more information? Also we stopped supporting cuda 8. Could you try with a more recent version of cuda?

[2018-08-02 09:30] ansleliu commented on #34
@rotabulo Thank you for your rapid reply, I have solved this problem by updating the GCC from 4.8  to the latest version (because PyTorch "cpp_extensions" requires GCC 4.9 or higher) and so it is not caused by CUDA. Ref. hier bitte: [https://github.com/pytorch/pytorch/issues/6987](url), Thanks.

[2018-08-02 09:30] #34 closed

[2018-08-02 09:45] rotabulo commented on #33
@ternaus we found a bug that was introduced by the transition from our internal repo to the public one, which basically crops the image, so the prediction and the original image do not match. We are fixing this. In the meanwhile, I am wondering why you were reporting results for 35 classes instead of 65.

[2018-08-02 20:59] ternaus opened #35 "crash running model without eval"
I get an error when trying to train DeepLabV3 with WideResNet38 encoder:
[code]

To reproduce one can just remove `.eval()` from
https://github.com/mapillary/inplace_abn/blob/master/test_vistas.py#L152

And run `test_vistas.py` for inference.

[2018-08-03 07:06] rotabulo commented on #35
@ternaus you cannot train with only 1 image per gpu, unless you switch to the syncronized version of inplace, or modify the deeplab head and remove global_pooling_bn, which would otherwise try to compute BN on a single sample with catastrophic effects.

[2018-08-03 07:34] #29 closed

[2018-08-03 14:35] rotabulo commented on #33
@ternaus I have fixed the cropping issue. I haven't checked yet what we get on test data, but we get 68.2% on the validation set.

[2018-08-03 16:50] ternaus commented on #35
Thank you.

[2018-08-03 16:50] #35 closed

[2018-08-03 16:50] #33 closed

[2018-08-07 12:40] rotabulo commented on #33
@ternaus I confirm that the model we provide reproduces the published scores on the test set. It actually delivers slightly better results: `53.42%`.

[2018-08-07 12:40] irfanICMLL opened #36 "Hi, any checkpoint based on mobileNetV2?"
Great work!

Do you have any checkpoint trained with the mobileNetV2 model?

[2018-08-07 12:52] rotabulo commented on #36
@irfanICMLL no, we don't have models trained on mobileNetV2.

[2018-08-10 10:07] abursuc opened #37 "segmentation fault error"
Hi,
Thank you for sharing this code.
I'm encountering a segmentation fault error:
 ```[1]  27994 segmentation fault CUDA_VISIBLE_DEVICES=0 python test_vistas_single_gpu.py ... ```

The error is triggered whenever I call one of the cpp inplace_abn functions wrapped under ```_backend``` in functions.py here: https://github.com/mapillary/inplace_abn/blob/e1e0e3b4cd0a6edbb127f08404beacc165a4e949/modul

[2018-08-10 13:46] abursuc commented on #37
I've managed to identify the problem and it's not related to this code. The default ```build_directory``` for cpp_extension did not exist so it couldn't build and store the project and .so file, though weirdly it did not display any error to this respect. Then in the script when it was invoking the .so file that did not exist, it gave me this error.
I'm closing this issue.

[2018-08-10 13:46] #37 closed

[2018-08-13 12:21] hypercost opened #38 "load cpp extension error"
[code]

Pytorch: 0.4.0
CUDA: 8.0
GCC: 4.8.4

[2018-08-16 09:33] JackieQiang opened #39 "How to use BatchNorm3D in inplace_abn and inplace_abn_sync?"
Inplace_abn is an amazing research! But this code seems only apply to 2D image.I want to use inplace_abn in 3d network with BatchNorm3D.I don't know how to change it.
Could you tell me how to solve this problem. very thankful!

[2018-08-17 01:09] JamesKasperYu opened #40 "how to use a single relu or bn"
I want to transform a net with Inplace_abn,but there is a single relu without bn in the start of the net.After used the single relu in here and Inplace_abn in other place, I got the error "RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation".Using a single bn without relu got the same error.
How can I use a single relu or bn in a Inplace_abn

[2018-08-20 12:32] alexdonchuk opened #41 "WideResNet38, InPlace-ABN weights"
Hi! Looks like weight file corrupt. Can you upload it again?

[2018-08-20 12:44] rotabulo commented on #41
@alexdonchuk we downloaded the file again and checked the md5 sum and it matches, so we don't see issues with the uploaded file. Can you be more specific about the issue?

[2018-08-20 18:00] rotabulo commented on #41
@alexdonchuk you should open the file with `torch.load`.

[2018-08-20 18:19] alexdonchuk commented on #41
@rotabulo oh! Sorry and thank you.

[2018-08-20 18:19] #41 closed

[2018-08-21 06:51] rotabulo commented on #39
@JackieQiang you could reshape the 5D tensor as a 4D tensor, apply 2d Inplace ABN and reshape the result back as a 5D tensor.

[2018-08-21 07:13] JamesKasperYu commented on #40
I try to transform a xception net by replace bn+relu which comes in pairs with inplaceabn and keep relu or bn which comes alone，then I got the error.
the source is
[code]
and after transform is:
[code]

[2018-08-21 07:26] JamesKasperYu commented on #40
I use your resnext by add a norm_act between mod2 and mod3,got the same error too.

[2018-08-21 07:31] rotabulo commented on #40
@JamesKasperYu Since `mod3` starts with an inplace operation you cannot have an inplace operation before that. If you use an activated batch norm then use Relu with `inplace=False` or clone the input before feeding it to `mod3`.

[2018-08-21 08:42] JamesKasperYu commented on #40
Great,it works by clone the input(using Relu with inplace=False don't work).Thank you @rotabulo

[2018-08-21 09:29] rotabulo commented on #39
@JackieQiang have you actually tried? Our code should work with any number of dimensions.

[2018-08-21 12:11] rotabulo commented on #40
I close the issue.

[2018-08-21 12:11] #40 closed

[2018-08-21 12:16] rotabulo commented on #38
@ksnzh does it work if you run it without debugger ?

[2018-08-21 12:16] rotabulo commented on #36
I am closing the issue

[2018-08-21 12:16] #36 closed

[2018-08-21 12:51] JamesKasperYu commented on #40
I try to use single relu just now ,it also works,#6 is very helpful.

[2018-08-21 16:52] ksnzh commented on #38
@rotabulo I will try to run directly later. Thanks to your reply.

[2018-08-22 21:50] talsperre opened #42 "Labels for the semantic segmentation"
Thanks for uploading the pre-trained model for semantic segmentation. I was using the model for inference purposes and wanted to know the labels for the semantic segmentation outputs corresponding to the argument ```palette``` in ```output-mode```. They seem to be different from the Cityscapes labels.

[2018-08-22 22:25] rotabulo commented on #42
@talsperre they correspond to the labels of the Mapillary Vistas dataset.

[2018-08-24 08:35] ksnzh commented on #38
I got the same error by just running `test_imagenet.py`.
And I have installed ninja-build.

[code]

[2018-08-24 08:38] rotabulo commented on #38
@ksnzh this looks more an issue independent from our code. Did you try with a more recent version of cuda?

[2018-08-24 10:46] chuong98 commented on #32
@rotabulo I updated to Cuda 9.2, which supports gcc 7.2.0, but my GCC coming with ubuntu 18.04 is 7.3.0. How should I fix this bug. Thank you.

[2018-08-24 11:40] rotabulo commented on #32
@chuong98 if you only get the warning you should not worry about it. It's a bug of pytorch.

[2018-08-27 00:59] JamesKasperYu opened #43 "about inplace_abn and inplace_abn_sync"
I used inplace_abn in my net  and  got a best model,then I just change the norm_act=InplaceABNSync to finetune the best model,but the miou less 1-2%.
I used inplace_abn and inplace_abn_sync in teh same net,the after also less 1%.I trained in 2 TITAN GPUs with batchsize = 16.Why I got a  worse result for inplace_abn_sync?Thank you!

[2018-08-27 02:51] JackieQiang commented on #39
Thanks! It works. I previously felt inplace_abn_sync like pytorch BN which need use BatchNorm3D or BatchNorm2D.Inplace_abn_sync amazing. It only one method include any number of dimensions.

[2018-08-27 06:14] rotabulo commented on #39
I close the issue.

[2018-08-27 06:14] #39 closed

[2018-08-27 06:30] rotabulo commented on #43
@JamesKasperYu InplaceABNSync provides a better estimate of the BN statistics, due to the larger sample size. Hence, the variance of the gradient reduces and the method should exhibit better convergence. This also means that you might eventually reduce the implicit regularization effect due to the higher variance in the gradients and, hence, worsen the results in case of small training sets, more

[2018-08-27 10:09] JamesKasperYu commented on #43
Indeed, the train miou of InplaceABNSync is better than of InplaceABN in a experiment whose sets  are  the start learning rate divided 2,change 4gpus with batchsize=16 from 1gpu with batchsize=5.Other sets are same.Did the start learning rate affect the result.Or what can I do to get a better val miou by use InplaceABNSync finetuning the net.

[2018-08-29 09:17] rotabulo commented on #42
I close the issue.

[2018-08-29 09:17] #42 closed

[2018-08-29 09:18] rotabulo commented on #30
I close the issue.

[2018-08-29 09:18] #30 closed

[2018-08-29 14:39] lfz opened #44 "memory leakage in inplace_abn_sync"
Hi, thank you very much for this wonderful work!

But during using, I found that the memory usage is increasing during training, and then become stable  after reaching some certain point.

For example, the net using inplace_abn would cost 7 GB, but when using inplace_abn_sync, it would start with 7 GB and steadily increase the memory cost to around 11GB, and then become stable.

I used this module

[2018-08-29 14:47] lfz commented on #44
btw I use 8 cards, I found that the more cards I use, the more extra leakage would be caused.

When the card memory was fully filled, it would stuck and nothing will goes on until I kill it.

[2018-08-29 16:46] rotabulo commented on #44
@lfz what happens in the 8 gpu case if you use non sync inplace ABN?

[2018-08-30 03:02] lfz commented on #44
It goes quite normal, costing 7 GB on each card
I used this module in a docker environment
driver version 384.130
cuda 8.0
anaconda3
gcc & g++ 5.4
pytorch 0.4.1

have you seen this situation before?

[2018-08-30 07:14] rotabulo commented on #44
@lfz how are you checking the memory consumption? Using `nvidia-smi` is not reliable because PyTorch implements a caching mechanisms that does not deallocate gpu memory unless strictly needed (e.g. if out-of-memory errors start to popup). We had issues training with sync inplace-ABN on a DGX with docker and 8 gpus, but since we had access only for limited time we could not properly debug the issue

[2018-08-30 08:41] lfz commented on #44
I monitor the memory with `nvidia-smi`. I tried to use `torch.cuda.empty_cache()` after each iteration, and the memory usage is still going up.

Now I am using 6 GPU and the leakage memory become smaller, the extra cost is about 1GB

Do you notice the extra memory cost when you use multiple gpus?

Where should I start to look at? do you have any suggestion?

[2018-08-30 08:48] rotabulo commented on #44
@lfz we always trained models with 4 Gpus and we could replace inplace ABN with sync inplace ABN without issues. Technically, the sync inplace ABN will use a little bit of more memory, because it will move statistics to gpu 0, but those typically weight much less than the rest of the buffers. At some point we suspected that the issue you are referring to could have been due to docker, but we had n

[2018-08-30 11:02] lfz commented on #44
I'll give it a try. Thank you for the quick response~

[2018-08-30 15:29] PkuRainBow opened #45 "'unexpected key "mod2.block1.bn1.bn.weight" in state_dict'"
Hi, I want to employ the WideResNet38, InPlace-ABN for scene parsing task.

I just make some modifications, firstly I add this line to ensure the ABN is set right,

[code]

Then we load the parameters like this,

[code]

We excute  the  **print(new_params['mod2.block1.bn1.bn.weight'])** and get the right output.

Thus we have loaded the pretrained parameters in to the array new_params.

Then we ex

[2018-08-30 15:41] rotabulo commented on #45
@PkuRainBow print the parameters' names of `deeplab` so maybe you figure out why the keys you provide are wrong.

[2018-08-31 02:02] PkuRainBow commented on #45
@rotabulo I print the parameters' name of deeplab and find that there exist no key with name  **'mod2.block1.bn1.bn.weight'**

But the check point you provide contains the parameter with key name both **'mod2.block1.bn1.weight'** and **'mod2.block1.bn1.bn.weight'**.

So I am wondering whether it is related to the problem of your checkpoint?

[2018-08-31 07:33] rotabulo commented on #45
@PkuRainBow I checked the checkpoint files and they are correct, i.e. the key you mention is not there. I suspect you are using an older version of the checkpoint.

[2018-09-01 06:08] lfz commented on #44
Hi, I have tried the testing outside the docker. and no luck : (

it behaves the same

[2018-09-01 07:50] PkuRainBow commented on #45
@rotabulo Thanks!  I have solved this problem by using the new checkpoint.

[2018-09-01 07:51] #45 closed

[2018-09-01 07:52] PkuRainBow opened #46 "Strange error when use the pretrained resnet-38 model"
I find the error is related an extra added branch that I use,

[code]

The error is removed if I replace the last output  **[out_dsn, out]** with  **[out, out]**.

This bug seems strange?

[code]

Have anyone meets the above problem?

I do not add anything to the original code and just try to train the resnet38 models.

[2018-09-02 05:49] PkuRainBow commented on #46
@rotabulo Could you help me?

[2018-09-02 10:57] DanielDagnino commented on #46
Did you solve the problem? I have the same problem:
[code]
I am using Pytorch 0.5 version.

[2018-09-02 11:31] PkuRainBow commented on #46
@DanielDagnino  I still have not solved this problem.... Hope @rotabulo @ducksoup could help us.

[2018-09-02 15:05] DanielDagnino commented on #46
@PkuRainBow I solve the problem in my particular case, it was due to a nn.ReLU(inplace=True) that I was using, it is not compatible with the InPlaceABN. I recommend you to change any inplace=True to False in the layers of your model.

[2018-09-03 01:03] PkuRainBow commented on #46
@DanielDagnino I have not used any other inplace operation.

[2018-09-03 01:12] PkuRainBow opened #47 "What is the difference between the current InPlaceABNSync and the previous version."
Hi, I used to implement my segmentation system based on the earliest version of the InplaceABNSync and achieve good performance. (based on pytorch0.3)

Recently, I have tried to employ the newest version of the InplaceABNSync under pytorch0.4 and find the performance drops about 1 point mIou.

In fact, I have checked all my implementations for multiple times and find the only possible reason for t

[2018-09-03 06:25] lfz opened #48 "conflict between inplaceABNSync and torch.utils.checkpoint"
Hi, I tried to further reduce the memory usage by using torch.utils.checkpoint. But when I use it along with inplaceABNSync, the training will be stuck after several iterations.

It turns out that the master_queue in backward doesn't get anything. When I use inplaceABN, everything works fine.

In your paper you mentioned that you implemented a checkpoint method, have you tried to combine checkpoin

[2018-09-03 08:57] rotabulo commented on #47
@PkuRainBow are you testing with the new code on a model trained with the old version?

[2018-09-03 09:10] ducksoup commented on #46
@PkuRainBow can you show us the contents of you dsn module to help you debug your issue?

[2018-09-03 09:19] rotabulo commented on #46
@PkuRainBow can you try `self.dsn(out.clone())`  ?

[2018-09-03 09:22] #38 closed, assigned to nobody

[2018-09-03 09:26] ducksoup commented on #48
We never tested our code together with Pytorch's checkpointing. In general, our synchronized BN relies on the assumption that all GPUs are always computing the same modules at the same time, which is probably violated by checkpointing. Unfortunately, modifying our implementation to overcome this limitation is quite cumbersome and would probably require some modifications to Pytorch's internals.

[2018-09-03 09:26] rotabulo commented on #44
@lfz since we have no 8 GPUs machines, we cannot reproduce the issue and debug it. As soon as we get one, we will check the issue. If you have new insights in the meanwhile, please let us know.

[2018-09-03 11:31] PkuRainBow commented on #47
@rotabulo No, I retrain the model with the new version.

[2018-09-03 11:31] PkuRainBow commented on #46
@rotabulo Ok, I will try it soon.

[2018-09-03 12:17] mingminzhen opened #49 "error for test_vistas.py"
I try the test_vistas.py, something is wrong.
[code]
Then i modify the code in the function _network(self, x, scale):
``` scaled_size = [s * scale for s in x.shape[-2:]]```
to
[code]
No error occurs. But the output image is wrong. No right segmentation result.
Can you help check the segmentation model and code ?

[2018-09-03 12:54] rotabulo commented on #49
@mingminzhen thank you for reporting this issue. We should cast the scaled_size to int, but I would do it with `round`. Anyway, I was using the test_vistas script with no problems to predict Vistas images. Are you running the same?

[2018-09-03 13:28] rotabulo commented on #49
@mingminzhen when you download the samples you get in the same folder both the image and the ground-truth segmentation. Is it possible that the image you show here is actually the network applied to the ground-truth annotation?

[2018-09-03 13:30] mingminzhen commented on #49
I copy the images in the directory: /home/mingmin/data/mapillary/samples.
The groundtruth is not copied.

[2018-09-03 13:34] rotabulo commented on #49
@mingminzhen this is the output I get:

![tlxglvwxygudubfkjy1uoq](https://user-images.githubusercontent.com/28045295/44989607-b0217680-af8e-11e8-8e6e-013f88ef6c0a.png)

[2018-09-03 13:39] mingminzhen commented on #49
It's weird. I didn't modify anything. I use cuda9.2 and pytorch 4.0.

[2018-09-03 14:14] rotabulo commented on #49
@mingminzhen can you try with `test_vistas_single_gpu.py`?

[2018-09-03 14:26] mingminzhen commented on #49
@rotabulo I copy the image (samples/Asia/tlxGlVwxyGUdUBfkjy1UOQ.jpg) to another dir. And test it.

[2018-09-03 14:28] mingminzhen commented on #49
https://drive.google.com/open?id=1bpSF5Wpj9MTwC3k-n87_KXFQPZeyk5ZH   This is the image i put in a dir called test (only one image in this dir).

[2018-09-03 14:32] rotabulo commented on #49
On my end this keeps working..

![test](https://user-images.githubusercontent.com/28045295/44992227-f084f280-af96-11e8-8159-eb5c73acf8ac.png)

[2018-09-03 14:37] mingminzhen commented on #49
Is it possible that the pretrained model is different from which you use?
I check the code carefully. It seems no errors in the code.

[2018-09-03 14:37] rotabulo commented on #49
@mingminzhen I tested with both pytorch v0.4.1 and v0.4.0 and I have cuda 9.2 too. It works in all cases.

[2018-09-03 14:41] rotabulo commented on #49
@mingminzhen I am using the one we provide on the webpage and also checked that the md5 sum matches.

[2018-09-03 15:38] mingminzhen commented on #49
@rotabulo I try to change another machine and test it. It gets the same output. I test it on Anacoda 2, python3.6, pytorch v0.4.1 and cuda9.2. I feel so weird why it shows wrong output.

[2018-09-03 15:53] rotabulo commented on #49
@mingminzhen what GPUs are you using?

[2018-09-04 00:33] VanitarNordic opened #50 "Fine tuning"
Hi,

How can I fine tune the model on a custom dataset which initially might have different number of classes?

You have provided the weights, but I could not find instructions for fine tuning.

I'll so appreciate if you explain a bit. Thanks.

[2018-09-04 01:04] mingminzhen commented on #49
@rotabulo i use one 1080 ti.

[2018-09-04 02:30] JamesKasperYu commented on #43
I have tried keeping the learning rate to finetune with sync and got a better result.Thank you!

[2018-09-04 02:30] #43 closed

[2018-09-04 07:36] rotabulo commented on #49
@mingminzhen I tried also with a 1070 and it worked. I don't think it's the GPU.

[2018-09-04 09:39] ducksoup commented on #50
Unfortunately our repo doesn't contain any pre-made code for fine-tuning on different datasets.
However, adapting the `train_imagenet.py` script to train on other similarly formatted image classification datasets should be quite straightforward. In a nutshell, the main modifications you need to make are:

1. Modify lines 82-92 to only load the model check-point and not the optimizer check-point: w

[2018-09-04 11:59] mingminzhen commented on #49
@rotabulo I use the cudnn7.2.1.38. I will check it again.

[2018-09-05 09:45] PkuRainBow commented on #47
@rotabulo I am wondering whether you choose pytorch0.4.0 or 0.4.1.

I hear that there exist bugs with the 0.4.0 for the BN setup.

[2018-09-05 09:50] rotabulo commented on #47
@PkuRainBow our inplace ABN does not depend on BN implementations from pytorch. We tested on both pytorch 0.4 and 0.4.1. . Is it possible that there were other changes in Pytorch that triggered the reduced performance?

[2018-09-11 11:45] sunggukcha commented on #50
@ducksoup
 I really thanks to your kind comments.
 I am so newb that I do not know what to do with your (2) comment. What do you mean about the saved "weights"? Is that relevant to cache? How can I delete them?

[2018-09-14 09:21] Walstruzz opened #51 "Running too slowly"
Hi, thank you for your wonderful work!

I tried to use it to finish my semantic segmentation task. I do:

- **`sudo apt-get install ninja-build`**

- **`git clone https://github.com/mapillary/inplace_abn.git`**

- **`cd inplace-abn`**

- **`CUDA_VISIBLE_DEVICES=3 python test_vistas.py ./wide_resnet38_deeplab_vistas.pth.tar ./data/input/ ./data/output/`**

The segmentation results are well. But it

[2018-09-16 05:10] bonlime opened #52 "Problem with setting GPU different from "cuda:0""
Hi. I've tried to train model using your InPlaceBN, but after I move model & data to 'cuda:1' I have an error during training:

[code]
I found the source of this bug:
After loading `_backend` in [functions.py#L9](https://github.com/mapillary/inplace_abn/blob/master/modules/functions.py#L9)
When `_backend.mean_var` is called in [functions.py#L94](https://github.com/mapillary/inplace_abn/blob/master

[2018-09-17 10:15] rotabulo commented on #52
@bonlime thank you for spotting this issue. I think it's a bug in Aten, but we are checking it. Nevertheless, the reason why we never encounter it is because DataParallel changes the default gpu per thread (https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/parallel_apply.py#L55). By doing so, everything works. As a temporarily workaround you could run the forward pass within  ` with

[2018-09-17 15:33] ezyang commented on #52
You can fix this by replacing anywhere you do this:

[code]

with

[code]

The "type" of a tensor doesn't include what device it's on; but the options do. This will preserve the device.

I also agree the suggested temporary workaround will work.

[2018-09-17 15:41] rotabulo commented on #52
@ezyang thank you for the suggestion. We will try it.

[2018-09-17 16:48] bonlime commented on #52
@rotabulo  @ezyang
I just found that using `torch.cuda.set_device(1)` helps to fix this problem.
Maybe it was my bad and you don't need to change the code

[2018-09-18 09:07] rotabulo commented on #51
@Walstruzz I don't have a Titan 1080Ti at hand to try, but take into account that the script resizes the longest dimension to 2048 and applies scale augmentation after that with 3 scales. In your case within the 12 seconds, the script performs 3 forward passes at resolutions 1365x2048, 955x1433, 1638x2458 + fusion at 1365x2048 + downsampling at the original size + loading and saving.
Also, if this

[2018-09-18 09:10] rotabulo commented on #50
I am closing the issue.

[2018-09-18 09:10] #50 closed

[2018-09-18 09:23] #48 closed, assigned to nobody

[2018-09-18 09:45] #52 closed

[2018-09-19 01:20] yzcjtr opened #53 "Pretrained model on KITTI"
Hi, can I ask if there's available segmentation model on KITTI dataset or ROB competition? Thanks.

[2018-09-19 02:28] bonlime commented on #52
Thanks!

[2018-09-20 00:32] Walstruzz commented on #51
@rotabulo
Sorry, maybe I didn't express it clearly. I had measured the timing over multiple images and it took an average of 12 seconds.
As you said, the script resizes the longest dimension to 2048. I change the script _test_vistas_single_gpu.py_

**`transformation = SegmentationTransform(
        2048,
        (0.41738699, 0.45732192, 0.46886091),
        (0.25685097, 0.26509955, 0.29067996),

[2018-09-20 08:04] #51 closed

[2018-09-20 11:13] lfz opened #54 "what is edz and eydz"
Hi, I read the source code, and I found these two variables in the backward computation, I don't quite understand what do they mean, could you explain a little bit about them?

I have read your paper but I am still not sure about the exact meaning, Thank you ~

[2018-09-21 19:52] Hoileong89 opened #55 "inplace_abn and checkpointing"
Would you recommend to use inplace_abn together with checkpointing for further memory reduction? I am training a 3D CNN model for segmentation, which is memory intensive.

[2018-09-26 05:45] Spandan-Madan opened #56 "Unable to `import modules` which makes it impossible to train or test the code"
[code]
The "modules" module cannot be imported, which leads to errors all across the board. Here's the stack trace-

[code]

When I try to run the inference using `test_vistas.py`, it tries to `import modules` which again gives the same issue.

Can someone please help out with this?

[2018-09-26 09:06] rotabulo commented on #56
@Spandan-Madan can you upgrade cuda to at least 9.0 ?

[2018-09-26 09:12] rotabulo commented on #54
@lfz they correspond to dL/d\beta and dL/d\gamma at p. 5 of the paper.

[2018-09-26 09:32] lfz commented on #54
Why should it be synced between GPUs?

As far as I understand, sync means and variance in forward is enough, do
you find this gradient sync very helpful?

Thank you~

Samuel Rota Bulò <notifications@github.com> 于2018年9月26日周三 下午5:12写道：

--
廖方舟
清华大学医学院
Liao Fangzhou
School of Medicine
Tsinghua University
Beijing 100084
China

[2018-09-26 11:53] rotabulo commented on #54
@lfz that's what the gradient computation tells you. If you sync in the forward pass but not in the backward pass you get a wrong gradient direction for the mini-batch.

[2018-09-26 16:07] #54 closed

[2018-09-26 17:52] ycszen opened #57 "When I use InplaceSyncBn, it runs very slowly."
`GPU benchmark: 8 x 1080 Ti`
`Cuda version: 9.0`
`Pytorch version: 0.4.1`
`GCC version: 5.4.0`

I copy the `modules` of this repo into my lib, and then I use this code snippet
`from seg_opr.inplace_abn import InPlaceABNSync`
`InPlaceSyncBatchNorm2d = functools.partial(InPlaceABNSync, activation='none')`.
However, the experiment runs very slow, even 90s per iteration. When I use other sync bn or of

[2018-09-27 03:59] ycszen commented on #44
@lfz Have you solved this problem? Recently I have the same issue, meanwhile, my experiment with inplace sync bn has a very slow training speed.

[2018-09-27 04:12] mingminzhen commented on #49
@rotabulo  Hi, I test the gpu code by following code:
[code]
The result is as follows:
[code]

It seems there is error for the cuda code in mean_var  cuda implementation code.
Can you help check that?
In addition, the cpu code works well.
[code]
The result is

[code]

[2018-09-27 06:38] mingminzhen commented on #49
@rotabulo I try to use cpu to do test. it works well.

[2018-09-27 06:43] rotabulo commented on #49
@mingminzhen I checked the test code you posted, and it works on our side, i.e. we experience no issue. I invite you to try with some other machine/gpu.

[2018-09-27 15:21] hszhao opened #58 "4 gpus works fine while 8 gpus causes memory leakage and runs slow?"
I tested sync inplace abn on 8 x GTX TITAN and 8 x TITAN Xp machine. In both case, using 4 gpus works well while memory leakage appears when 8 gpus are adopted.
`gpu: GeForce GTX TITAN and TITAN Xp`
`cuda: 8.0`
`pytorch: 0.4.1`
`gcc: 5.2.0`

[2018-09-27 17:04] Spandan-Madan commented on #56
@rotabulo Looked more into this. It seems to be a GCC versioning issue.

What version of GCC did you use when compiling? I'm on 5.2.

[2018-09-27 17:50] Spandan-Madan commented on #58
Did you mean your GCC is 5.2.0? Also, did you compile pytorch from source or used conda?

I have the same configs but get errors when trying to run.

[2018-09-27 17:54] hszhao commented on #58
@Spandan-Madan , yes, gcc is 5.2.0. I use conda to install pytorch and test my own code with sync inplace abn incorporated.

[2018-09-29 07:58] mingminzhen commented on #49
@rotabulo  I found the reason for that at last. It's because my driver is 390, but it's insufficient for cuda9.2 runtime. But there is no error shown in the code. So i suggest add some error check code for each kernel function.
[code]
This will be very useful!

[2018-10-04 14:52] Deeplayer opened #59 "how to fix the parameters of Inplace BN when using pre-trained model? thx"

[2018-10-09 07:35] JamesKasperYu opened #60 "problem about torch.utils.checkpoint with InplaceABNSync"
Hi,I want to use torch.utils.checkpoint with InplaceABNSync to divid the net to 4 parts to train,the GPU keeps the memory but don't work in torch.autograd.backward.I find that  only a gpu get the backward result and is waiting other gpus' result but other gups don't give any result out.No Sync works well.

[2018-10-09 16:13] KeyKy commented on #58
I get the same problem.

[2018-10-12 03:45] Towardsmoon opened #61 "Compile error in pytorch 1.0"
Cannot compile in pytorch 1.0.

[2018-10-24 12:15] suyanzhou626 opened #62 "ninja: build stopped: subcommand failed?"
`/home/suyanzhou/.conda/envs/pytorch0.41/lib/python3.6/site-packages/torch/utils/cpp_extension.py:118: UserWarning:

                               !! WARNING !!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Your compiler (c++) may be ABI-incompatible with PyTorch!
Please use a compiler that is ABI-compatible with GCC 4.9 and above.
See https://gcc.gnu.org/online

[2018-10-30 16:09] fabvio commented on #62
It is clearly stated in the README that the code requires pytorch 0.4, I would start from there.

[2018-11-01 03:09] codermckee opened #63 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe6 in position 1879: ordinal not in range(128)"
My Environment are as followed:
python 2.7
torch 0.4.1
cuda 9.0

and I failed to run test_vistas.py, can someone help me?

[2018-11-02 11:32] rotabulo commented on #61
@wobenwuliang we will make our code compatible once pytorch 1.0 becomes a stable release.

[2018-11-02 11:34] rotabulo commented on #62
@suyanzhou626 the error seems to be generated from code that is not directly related to inplaceABN.

[2018-11-02 11:35] rotabulo commented on #63
@codermckee can you please provide more details about the exception?

[2018-11-02 13:18] codermckee commented on #63
I have solved this problem by switching to python 3. because the default encoding of python2.7 is ascii and python3 is utf-8.

But a new problem happpened.
" ninja: build stopped: subcommand failed"

So sad.

[2018-11-02 13:19] rotabulo commented on #63
@codermckee Please, provide more details about the new error.

[2018-11-02 13:32] codermckee commented on #63
@rotabulo
thanks for your reply. **Following is the details of my new error.**

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/torch/utils/cpp_extension.py", line 576, in _build_extension_module
    ['ninja', '-v'], stderr=subprocess.STDOUT, cwd=build_directory)
  File "/usr/lib/python3.5/subprocess.py", line 626, in check_output
    **kwargs).stdout
  File "/usr

[2018-11-02 13:38] rotabulo commented on #63
@codermckee a relatively recent modification that we introduced relies on a more recent version of Aten. I suspect that your pre-compiled version of Pytorch uses an older version of Aten. The pre-compiled pytorch 0.4.1 with cuda 9.2 works for us. Can you try that one? Alternatively, you can try to compile pytorch yourself  so that a recent version Aten gets integrated.

[2018-11-02 13:47] codermckee commented on #63
Thank you very much. I'll have a try later.

[2018-11-07 13:09] rotabulo commented on #61
@Chetter2 thank you for providing a fix for those who want to switch to pytorch 1.0 immediately.

[2018-11-08 13:50] daeyun opened #64 "InPlaceABNSync for single GPU"
Is it safe to default to `InPlaceABNSync` instead of `InPlaceABN`, even for single GPU?  Can there be any potential performance drawback?

[2018-11-14 08:59] acgtyrant opened #65 "I think the var in InPlaceABNSyncFunction is approximate"
I tried to deduce out the global var, but I find it is different with `var = (vars + (mean - means) ** 2).mean(0)`, the the latter is approximate?

[2018-11-20 09:27] codermckee opened #66 "test_set evaluation entrance"
could you please tell me the entrance to upload test_set result and evaluate my mIoU, 'cause the labels of test_set are not to public ?

[2018-11-29 10:31] Dennis-YB opened #67 "ninja: build stopped: subcommand failed."
Excuse me,when I run this program,there is an error
[code]

*********************
My confige is pytorch 0.4,cuda 9.0,gcc 4.9,g++ 4.9,ubuntu 16.04,how to solve it?

[2018-11-30 08:24] chenchr opened #68 "about the assumption that the count on every gpu is same"
Hello. Thanks for the awesome code.
In the code [here](https://github.com/mapillary/inplace_abn/blob/master/modules/functions.py#L152),
[code]
It seems that it assume that the count on every gpu is the same. However, for task like detection, which difference image may have different num of bounding box, it seems it will influence the result.
Maybe every work should sync the count as well as the me

[2018-11-30 08:44] rotabulo commented on #65
@acgtyrant the formula for the variance computation is exact.

[2018-11-30 08:56] #65 closed

[2018-12-04 02:50] suyanzhou626 opened #69 "RunError"
When I use InpalceABN, I encountered errors. My code is OK， I test it.

RuntimeError: invalid argument 3: divide by zero at /pytorch/aten/src/THC/generic/THCTensorMathPairwise.cu:88

[2018-12-04 09:17] rotabulo commented on #69
@suyanzhou626 we need more information about the error.

[2018-12-04 13:39] suyanzhou626 commented on #69
@rotabulo I have encountered a new problem, you inplaceabnsync, when I use this layer, my program  can not run,like below picture, have been stuck in the model to infer, can't run out,  is there any precondition for using this layer? and how to slove it.
![image](https://user-images.githubusercontent.com/37359271/49445512-06f84f80-f80d-11e8-8c7e-806fad8d4549.png)

GPU: 4 * 1080Ti
CUDA: 9.0
pytorch

[2018-12-07 08:41] ackness commented on #58
same problem.
8 gpus died, 4 gpus works well, 6 gpus very slow :(

[2018-12-08 18:43] wangjingbo1219 commented on #58
same problem

[2018-12-14 13:34] GolovanovSrg opened #70 "Deterioration of convergence with Inplace-ABN"
When replacing BN with Inplace-ABN in the pre-trained model, there is a significant deterioration in convergence. Is this an expected behavior?

Also when using ELU, NAN sometimes appears. Adding eps to log1p corrects this situation.

[2018-12-14 13:37] rotabulo commented on #70
@GolovanovSrg which pre-trained models do you refer to? BN does not have an embedded activation layer, whereas inplace-ABN does.

[2018-12-14 13:42] GolovanovSrg commented on #70
I use SENet from https://github.com/Cadene/pretrained-models.pytorch. Replacing BN + Activation with Inplace-ABN allows easy use of available weights. But with further training convergence significantly deteriorates.

[2018-12-14 16:38] GolovanovSrg commented on #70
@rotabulo I can not say anything about test, but when training, even without the pre-trained weights, the convergence is worse.

[2018-12-19 07:55] charlesCXK opened #71 "ImportError: /tmp/torch_extensions/inplace_abn/inplace_abn.so: undefined symbol: _ZN2at5ErrorC1ENS_14SourceLocationESs"
[code]

[2018-12-19 17:40] charlesCXK commented on #71
Oh, my problem has been solved.
This is mainly because of pytorch version dismatch.
When I reinstalled pytorch 0.4.0, the problem was almost gone.

refer here:
[https://github.com/NVIDIA/vid2vid/issues/25](https://github.com/NVIDIA/vid2vid/issues/25)

Thank you and I am sorry to bother you.

[2018-12-19 17:40] #71 closed

[2018-12-20 09:56] antran89 commented on #61
@Chetter2 Still have error in `inplace_abn_cuda.cu`.

[2018-12-20 15:03] MuyanXiao opened #72 "Has anyone tried the program for Windows?"
I'm trying to set up a windows environment for the testing program.
I'm using gcc6.3.0, cuda9.2, torch0.4.1, ninja 1.8.2.post2.

I got the following error:

C:\Python36\lib\site-packages\torch\utils\cpp_extension.py:92: UserWarning: Error checking compiler version: Command '['c++']' returned non-zero exit status 1.
  warnings.warn('Error checking compiler version: {}'.format(error))
C:\Python36\li

[2018-12-23 09:15] CS-Jackson commented on #61
Hi, @rotabulo , thanks for the great job. Can I used this code for the stable pytorch 1.0?

[2018-12-28 22:20] jxr041100 opened #73 "downloaded model damaged , we could not unzip it!"

[2019-01-05 04:04] jinfagang opened #74 "Upgrade to support pytorch 1.0"
Now that pytorch 1.0 already be stable, would this upgrade to pytorch 1.0 compatible ?

[2019-01-07 13:41] rotabulo commented on #73
@jxr041100 the models are not zip files. You should open them with `torch.load`.

[2019-01-08 13:46] rotabulo commented on #74
@jinfagang we have released today an updated version of our code that supports pytorch v1.0, but also provides a multi-process implementation of our syncronized inplace ABN layer.

[2019-01-08 13:46] #74 closed

[2019-01-08 13:46] #73 closed

[2019-01-08 13:48] rotabulo commented on #72
@MuyanXiao we are not interested in providing compatibility with Windows, but if you find any solution, please post it here. Note that today we released a new version of our code that supports PyTorch v1.0. Please use the most recent version.

[2019-01-08 13:51] rotabulo commented on #70
@GolovanovSrg we did not experience significant drops in performance by simply switching BN + Relu with Inplace-ABN + LeakyRELU. Regarding ELU, we haven't used it that much. Please note that we have a new release that supports PyTorch v1.0 and multi-process synchronization.

[2019-01-08 13:54] rotabulo commented on #69
@suyanzhou626 we have released a new version of our code that supports PyTorch v1.0 and multi-process synchronization. Can you try with that?

[2019-01-08 13:55] rotabulo commented on #68
@chenchr we have released a new version of our code that supports PyTorch v1.0 and multi-process synchronization. We have also added a flag in the layer to support different batch sizes per gpu, however note that there has to be at least one sample per gpu.

[2019-01-08 13:56] rotabulo commented on #67
@Dennis-YB  we have released a new version of our code that supports PyTorch v1.0 and multi-process synchronization. Can you try with that?

[2019-01-08 13:59] rotabulo commented on #64
@daeyun we have released a new version of our code that works with PyTorch v1.0 and support multi-process synchronization. It should work also on a single gpu without significant overhead.

[2019-01-08 14:00] rotabulo commented on #63
@codermckee in the meanwhile we have released a new version of our code that is compatible with PyTorch v1.0 and supports multi-process synchronization.

[2019-01-08 14:01] rotabulo commented on #62
Closing due to inactivity

[2019-01-08 14:01] #62 closed

[2019-01-08 14:02] rotabulo commented on #61
@Towardsmoon @Chetter2 @CS-Jackson we have released today a new version of the code that requires PyTorch v1.0 and supports multi-process synchronization.

[2019-01-08 14:06] rotabulo commented on #60
@JamesKasperYu we have released a new version of our code that requires PyTorch v1.0 and supports multi-process synchronization. You can try with the new version, but I am not sure that synchronization and checkpoining will work out of the box without some tricks.

[2019-01-08 14:07] rotabulo commented on #59
@Deeplayer can you be more specific with your question?

[2019-01-08 14:08] rotabulo commented on #58
@hszhao @Spandan-Madan @ackness @wangjingbo1219 @KeyKy we have released today a new version of our code that requires PyTorch v1.0 and support multi-process synchronization. This solves problems with training on more than 4 Gpus.

[2019-01-08 14:09] rotabulo commented on #57
@ycszen we have released today a new version of our code that requires PyTorch v1.0 and supports multi-process synchronization. This solves problems with training on more than 4 Gpus.

[2019-01-08 14:10] rotabulo commented on #56
@Spandan-Madan please consider the new version of our code that we released today, in case you did not solve the issue in the meanwhile. Closing the issue by now.

[2019-01-08 14:10] #56 closed

[2019-01-08 14:12] rotabulo commented on #55
@Hoileong89 InPlace ABN is in general not recommended if you use checkpointing. It requires special care from your side, since it overwrites the buffers' content.

[2019-01-08 14:12] #55 closed

[2019-01-08 14:15] rotabulo commented on #47
@PkuRainBow we have in the meanwhile released a new version of our code that requires PyTorch v1.0 and supports multi-process synchronization. I am closing the issue.

[2019-01-08 14:15] #47 closed

[2019-01-08 14:15] rotabulo commented on #46
Closing due to inactivity.

[2019-01-08 14:15] #46 closed

[2019-01-08 14:16] rotabulo commented on #44
@ycszen we have released a new version of our code that requires PyTorch v1.0 and supports multi-process synchronization. This solves issues when training with more than 4 GPUs.

[2019-01-08 14:16] #44 closed

[2019-01-08 14:54] pkontschieder commented on #53
Apologies for the late replies @yzcjtr but we currently cannot release KITTI/ROB models

[2019-01-08 15:01] pkontschieder commented on #66
@codermckee The (old) test server for semantic segmentation is down as we are working on integrating all evaluations [here](https://codalab.mapillary.com/)

[2019-01-08 15:30] PkuRainBow opened #75 "The segmentation training script supporting multi-processing."
It is great to find that you support the multi-processing.

We are wondering whether you could share us the segmentation training script on Cityscapes or Mappillary dataset.

We also want to apply multi-processing to speed up the training.

[2019-01-08 20:08] #53 closed

[2019-01-09 06:38] chenchr commented on #68
Thanks you for the reply.

[2019-01-09 06:38] #68 closed

[2019-01-09 08:33] #63 closed

[2019-01-09 08:35] #66 closed

[2019-01-09 20:42] Maverick051293 commented on #75
That would be great if we can get it. I've been trying to write it myself but it's not coming right! Lots of bugs!

[2019-01-10 02:29] jinfagang opened #76 "Build with errors"
Hi, thanks for updating this lib into pytorch 1.0 version, however, when I try to use it, it still got this error:

[code]

The error are huge, and totally does not know what is going on... Am I doing anything wrong? It just can not work

[2019-01-10 02:30] jinfagang commented on #76
BTW, am using g++ 6.0 and cuda 9.0 with cudnn 7.2

[2019-01-10 09:44] ducksoup commented on #76
@jinfagang can you check what the exact version of your gcc is? This might be related to the CUDA bug described here: https://devtalk.nvidia.com/default/topic/1028112/cuda-setup-and-installation/nvcc-bug-related-to-gcc-6-lt-tuple-gt-header-/

[2019-01-10 09:55] jinfagang commented on #76
@ducksoup Thanks for your reply. First my gcc and g++ version is:

[code]

As for CUDA9.0 is a stable version and pytorch 1.0 stable support 9.0 only (tensorflow also), upgrade cuda 9.2 would be a little pain...
Could be another issue ? Or is there a way to compatible with CUDA9.0 (I think many people are using this version now, or CUDA10)

[2019-01-10 10:17] rotabulo commented on #76
@jinfagang the issue in theory prevents also compilation of pytorch as per https://github.com/pytorch/pytorch/pull/8863. Are you able to actually compile pytorch yourself?

[2019-01-10 12:30] jinfagang commented on #76
@rotabulo Thanks for reply! To be frankly, I have never built pytorch from source. Most of time pytorch just installed from pip, even using libtorch just download the lib.

Is this error related to original source codes of pytorch? I'd like to have a build if the issue is from there

[2019-01-14 04:00] CoinCheung commented on #61
@rotabulo Hi, Thanks for your work. Here is a basic question: Shall I tuck your repository in pytorch repository and compile pytorch together with inplace bn, or shall I compile your repository independently from pytorch. How could I install your inplace bn please?

[2019-01-14 06:50] rotabulo commented on #61
@CoinCheung after you have installed pytorch v1.0 and becomes visible from python, you can simply clone our repo and start any script there. Compilation will then be triggered automatically.

[2019-01-14 10:32] ChenglongWang commented on #67
I had same issue. Pytorch v1.0 with CUDA>=9.0 solved this issue.

[2019-01-14 13:19] rotabulo commented on #76
@jinfagang the error is due to an incompatibility of cuda 9.0/9.1 and gcc 6.x. The reason why I asked to compile pytorch is to verify that you get the same issue in that case. Anyway, to solve it you need to either add cuda 9.2 libraries to the library path or change the version of gcc.

[2019-01-15 01:52] jinfagang commented on #76
@rotabulo Thanks ! Change CUDA will leads to tensorflow or pytorch broken (tensorflow only try to find libcuda.so.9.0), I downgrade gcc to 5.0 is ok? Or should I upgrade to gcc 7.0?

[2019-01-15 01:52] #76 closed

[2019-01-17 13:42] #72 closed

[2019-01-18 01:22] luzai opened #77 "About general activation function"
Great thanks for inplace_abn, it increase batch size by 1.5 in my application!

I notice that `InPlaceABN` support  `no activatation function`, `relu`, `elu`, `leaky relu` now. May I ask how to implement other activation function like prelu?

Can we just use `[InPlaceABN(depth, activation='none'), torch.nn.PReLU()]`  , since PReLU seems not inplace operation?

[2019-01-18 08:48] rotabulo commented on #77
@luzai you can render PReLU inplace as well, as long as you prevent the network to put the learned slope to 0. In principle, one can implement PReLU by modifying our code and compute the derivative with respect to the slope, which can be computed given the inverted PReLU.

[2019-01-19 09:10] lcybuzz opened #78 "CUDA out of memory"
Thanks for sharing the codes! I'm trying to apply ABN on my segmentation work. However, when moving the model to cuda by running `model.cuda()`, this error occurs:

I successfully ran the old version which is compiled using `torch.utils.ffi`. I don't know if this error is  related to JIT compiling of PyTorch 1.0.

Has anyone got any idea about this? Thanks a lot~

[2019-01-19 13:42] luzai commented on #77
Thank you very much for you advice! I try to render PReLU inplace later.

I first adopt `[InPlaceABN(depth, activation='none'), torch.nn.PReLU()]`. Since I have trained a model with  `[torch.nn.BatchNorm2d(depth), torch.nn.PReLU()]`, I want to load the state_dict into new model. But I find the validation accuracy drops from 94% to 88%.

May I ask how to load the pretrained model? These two batch n

[2019-01-19 15:56] loveddy opened #79 "CUDA:out of memory"
i run the train.py and the cuda memory just get larger after serveral epochs,and here is the strange thing: if i don't create new batches use the same data, the cuda memory usage stays still,but if i create new batches, the cuda memory get larger.I find out that the pytorch turioal don't run epochs but iterations, so i don't know where is the problem in my code.I need your help....
here is my code

[2019-01-19 16:01] loveddy commented on #78
hi, have you solved your problem?

[2019-01-21 08:51] rotabulo commented on #77
@luzai the difference in running time between Pytorch's BN and our implementation is due to the fact that our code is not as optimized as the cudnn implementation of BN that Pytorch uses.

The difference in the output is due to a change that we introduced after publishing our paper, which changes the way the scale parameter of BN is used. In our implementation the scale `a` (parameter `weight`  in

[2019-01-21 10:00] rotabulo commented on #79
@loveddy please do not open issues that are not strictly ascribable to our repo.

[2019-01-21 10:00] #79 closed

[2019-01-21 11:53] luzai commented on #77
Great thanks for your comments!

I understand that inpabn ([with the change of scale `a`](https://github.com/pytorch/pytorch/blob/866c4e3467de241fe2c99f0f39f33d3f60c7d4c2/torch/csrc/api/src/nn/modules/batchnorm.cpp#L64)) initialized from standard BN might meets performance degradation, but standard BN initialized from ipabn just meets some randomization between cudnn and cuda, since `a` of ipabn i

[2019-01-21 14:12] rotabulo commented on #77
@luzai yes, using iabn initialized from weights trained with standard BN might lead to performance degradation in case you have negative scaling factors. Instead, I would expect minor differences if you apply standard bn to iabn weights. For the former case, one workaround could be to change the sign of some weights of the preceding conv layer in order to invert the sign of the channels having the

[2019-01-21 15:18] luzai commented on #77
Thank you very much for your advice! As mentioned in your paper, "at test-time BN becomes a linear operation". It is quite inspiring and account for the reason that changing both sign leads to same results. I will try to change the sign of the weight/bias of conv, and of the running means.

[2019-01-23 07:47] wutianyiRosun commented on #78
Hi, @lcybuzz ,@loveddy, have you solved this problem?

[2019-01-23 08:01] wutianyiRosun opened #80 "RuntimeError: CUDA ouf memory."
Hi, @mapillary-ci, it is great to find your work "inplace_abn". I meet some problem when I use your recently Pytorch 1.0 based inplace_abn package.

**RuntimeError: CUDA out of memory. Tried to allocate 36.88 MiB (GPU 0; 11.17 GiB total capacity; 3.29 GiB already allocated; 23.38 MiB free; 4.13 MiB cached)**

My system configuration is as follows:　
   PyTorch: v1.0.0, Cuda: v9.2, Cudnn: v7.2, Pyth

[2019-01-23 08:40] rotabulo commented on #80
@wutianyiRosun actually, if you are importing ABN, you are using standard batch norm, which implies that the error is not sue to our InplaceABN layer.

[2019-01-23 18:02] lzrobots commented on #15
I copy the files in folder modules to this repo [https://github.com/speedinghzl/pytorch-segmentation-toolbox](url) and got following error:

Traceback (most recent call last):
  File "train.py", line 250, in <module>
    main()
  File "train.py", line 214, in main
    preds = model(images)
  File "/home/lz/anaconda3/envs/pytorch1.0_python3.7/lib/python3.7/site-packages/torch/nn/modules/module.py",

[2019-01-23 18:06] b-hahn opened #81 "error: namespace "thrust::cuda" has no member "par""
Hi,
I'm trying to run test_vistas.py and get the following error message:

[code]

I'm using CUDA 8.0., cuDNN 6.0.21, Ubuntu 16.04, python 3.5, pytorch 1.0 installed using pip.
What might be the issue here? The file par.h (which seems to define par) is in my cuda folder so I'm not sure why it isn't getting picked up.

Thanks!

[2019-01-23 22:02] lzrobots commented on #15
seems the batch size of each GPU should be at least 2.

[2019-01-24 02:42] robi56 opened #82 "Training code for Mapillary dataset"
There I have  found a script train_imagenet.py. If I want to train the inplace_abn model on Mapillary dataset, what should I do? It  would be helpful if there is a file look like train_vistas.py . :)

[2019-01-24 05:58] lcybuzz commented on #78
@rotabulo I found the same issue using standard BN. Maybe it is not caused by the new version of ABN. Got no idea about this weird error :(

[2019-01-24 06:08] PkuRainBow commented on #81
I also meet the similar problem as below,

![image](https://user-images.githubusercontent.com/4639578/51658013-920dee80-1fe1-11e9-90af-77c300b9785d.png)

[2019-01-24 14:48] rotabulo commented on #78
@lcybuzz I am closing the issue. I invite you to open an issue on PyTorch's github since the error message does not sound right and this is eventually a bug that does not depend on our code.

[2019-01-24 14:48] #78 closed

[2019-01-24 15:00] rotabulo commented on #81
@b-hahn do you get the same error with CUDA 9.2?

[2019-01-25 14:56] b-hahn commented on #81
Unfortunately I'm constrained to using CUDA 8.0 so I can't tell you - are you aware of any features from CUDA 9.2 that are required? Would building pytorch from source solve any of these potential issues?
Thanks!

[2019-01-27 15:42] #61 closed

[2019-01-27 15:43] rotabulo commented on #57
Closing because the new version should have solved the issue.

[2019-01-27 15:43] #57 closed

[2019-01-27 15:44] rotabulo commented on #58
Closing because the new version should have solved the issue.

[2019-01-27 15:44] #58 closed

[2019-01-27 15:44] rotabulo commented on #59
Closing due to inactivity.

[2019-01-27 15:44] #59 closed

[2019-01-27 15:44] #60 closed

[2019-01-28 03:36] CoinCheung opened #83 "Have you noticed a big unbalance between gpus with InplaceSyncBN?"
With pytorch nn.BatchNorm2d and nn.DataParallel, the memory difference between two gpus is less than 1G. However, with InplaceSyncBN and nn.DataParallel， the memory gap is enlarged to almost 2G. What is the cause of this and how could I avoid it?

[2019-01-28 08:17] rotabulo commented on #83
@CoinCheung the new layer is not supposed to be used with `nn.DataParallel`, but `nn.DistributedDataParallel`. Could you try with the latter?

[2019-01-28 17:17] lzrobots commented on #15
Thanks. The performance of the above experiments (deeplab v3) dropped to 74% by using the new pytorch1.0 version of inplace. Is there anything need to be careful when replacing the old version of inplace with pytorch 1.0 version?
I only copied the files in ./modules to ./libs in https://github.com/speedinghzl/pytorch-segmentation-toolbox

[2019-01-29 08:54] rotabulo opened #84 "Performance drop when replacing the old version of inplace with pytorch 1.0 version"
The performance of the above experiments (deeplab v3) dropped to 74% by using the new pytorch1.0 version of inplace. Is there anything need to be careful when replacing the old version of inplace with pytorch 1.0 version?
I only copied the files in ./modules to ./libs in https://github.com/speedinghzl/pytorch-segmentation-toolbox

_Originally posted by @lzrobots in https://github.com/mapillary/inp

[2019-01-29 08:56] rotabulo commented on #84
@lzrobots I created an ad-hoc issue.

[2019-01-29 09:08] rotabulo commented on #84
@lzrobots do you see this gap when using the synchronized version or also the plain one?

[2019-01-29 10:25] lzrobots commented on #84
Thanks. It's synchronized version (InPlaceABNSync). I didn't change anything in the above deeplab v3 toolbox except the libs folder. I am training it again.

[2019-01-29 11:24] CoinCheung commented on #83
Hi, must I use `nn.DistributedDataParallel` even if I am working on a single machine with 4 gpus?
If I use the naive `nn.DataParallel`, apart from the memory unbalance, will I suffer other dysfunctions (for example, with `nn.DataParallel` the bn is actually not synchronized at all)?

[2019-01-29 13:09] rotabulo commented on #83
@CoinCheung you can use `nn.DistributedDataParallel` also within the same node, and it's actually faster than `nn.DataParallel` (see, https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py#L55).

[2019-01-29 13:40] rotabulo commented on #84
@lzrobots One issue I see is the following. Our new layer is supposed to work with `DistributedDataParallel `. I suspect that currently it is acting as if it was not synchronized, because the layer falls back to a `world_size=1` (https://github.com/mapillary/inplace_abn/blob/master/modules/functions.py#L152).

[2019-01-30 10:13] CoinCheung commented on #83
I noticed that there is a deeplab.py in the modules/ foler. Have you ever trained it with sync-abn? It seems that pytorch does not support training based on pixel wise cross entropy.

[2019-01-30 10:22] rotabulo commented on #83
@CoinCheung there you find our implementation of the deeplab head, which we used to train our segmentation model with synchronized iABN. Pytorch supports pixel-wise cross-entropy via `torch.nn.CrossEntropyLoss`.

[2019-01-30 10:53] CoinCheung commented on #83
Would you please show me how to train it, I cannot make distributed training work, a simplified version of my code is like this:
[code]

[2019-01-30 17:46] lzrobots commented on #84
Thanks. Revised the code and training it now.

[2019-01-31 08:05] CoinCheung commented on #83
Hi,

I finally tried to make my code work. Here is what I am still not sure: If I use inplace-ABN but work on only one gpu, which the model be trained the same way as with nn.BatchNorm2d, or should I modify my model and use nn.BatchNorm2d in the one gpu scenario?

[2019-01-31 08:19] rotabulo commented on #83
@CoinCheung inplace-ABN per se has no relation with number of gpus, it's a layer like any other. If you meant the synchronized version of inplace-ABN, then it works also with a single GPU.

[2019-02-01 08:57] rotabulo commented on #84
@lzrobots did switching to DistributedDataParallel solve the discrepancy issue?

[2019-02-01 11:59] lzrobots commented on #84
HI, when you do distribute training:
1. for the batch size in the torch.utils.data.DataLoader, do you use the non-dis batch_size // world_size?
2. don't you need to reduce loss and divide worl_size before loss.backward()?
3. keep the learning rate same as non-distributed lr?
Thanks

[2019-02-01 12:12] lzrobots commented on #84
4. does this make much difference? https://github.com/mapillary/inplace_abn/blob/master/train_imagenet.py#L204

[2019-02-02 15:33] #64 closed

[2019-02-03 02:03] CoinCheung commented on #83
Hi,

Is there anything I should take care of when I use sync-inplace-abn apart from replacing `nn.BatchNorm2d` and `nn.ReLu(inplace=True) with `inplace_abn.modules.bn.InPlaceABNSync`? I just setup my  distributed program like this:
[code]
Then  I wrap my model with ordinary method:
[code]
My dataset is manipulated with distributed sampler:
[code]
In the command line I train like this:
[code]
Will

[2019-02-08 09:32] patrickpoirson opened #85 "Error importing module"
from .wider_resnet import WiderResNetA2
    from modules import IdentityResidualBlock, ABN, GlobalAvgPool2d
  File "./modules/__init__.py", line 1, in <module>
    from .bn import ABN, InPlaceABN, InPlaceABNSync
  File "./modules/bn.py", line 10, in <module>
    from .functions import *
  File "./modules/functions.py", line 18, in <module>
    extra_cuda_cflags=["--expt-extended-lambda"])
    retu

[2019-02-08 09:41] rotabulo commented on #85
@patrickpoirson it looks like the compilation failed. There are reported issues with cuda 9.0 and gcc, so it's better to use cuda 9.2. What is the configuration of the working machines?

[2019-02-08 10:38] kampelmuehler opened #86 "Error when running with fp16 inputs"
Hi,

I'm getting the following error when using `InPlaceABN` in an fp16 training pipeline:

[code]
any thoughts?

Thanks!

[2019-02-08 11:42] patrickpoirson commented on #85
Thanks for the help. All the machines have cuda 9.0 and gcc version 5.4.0.

[2019-02-08 16:06] rotabulo commented on #86
@kampelmuehler are you casting the module to half ? Otherwise the buffers stay fp32.

[2019-02-10 14:15] b-hahn commented on #81
I can confirm that CUDA 9.2 solves the issue.

[2019-02-10 22:04] #85 closed

[2019-02-11 10:40] rotabulo commented on #83
@CoinCheung I am closing the issue, since the unbalanced training was due to using `DataParallel` instead of `DistributedDataParallel`

[2019-02-11 10:40] #83 closed

[2019-02-12 14:21] lzrobots commented on #84
I use 4 gpus for DistributedDataParallel training. Following is my nvidia-smi.
There are three processes take 1217M each which lead to the unbalance memory usage.
For example, memory usage in GPU3 is 3000+M more than GPU = 0, 1, 2
Is it a normal situation?

|  GPU       PID   Type   Process name                                GPU Memory Usage
|    0     19421      C   ...a3/envs/pytorch1.0_python3

[2019-02-12 14:49] rotabulo commented on #84
@lzrobots I guess this is not happening with the scripts we provide. Is this a script you wrote?
Are you loading some pre-trained model? It looks like it is loaded in GPU3 by all processes and you never release that buffers.

[2019-02-13 09:03] kampelmuehler commented on #86
Yes, the whole module that's using InPlaceABN is cast to half precision.

the problem rises from line 96 in the same file:

`mean, var = _backend.mean_var(x)`

mean and var are returned as fp32 from the backend, which makes the subsequent `.add_()` operation fail.

[2019-02-13 13:22] rotabulo commented on #86
@kampelmuehler we implemented the layer in a way to allow the possibility of having a fp16 input, but weights and buffers should stay fp32 to avoid numerical inaccuracies. Our implementation is not enabled yet to be used in a full fp16 mode.

[2019-02-13 13:23] kampelmuehler commented on #86
alright, thanks for clarification!

[2019-02-13 13:29] rotabulo commented on #86
@kampelmuehler I am closing the issue, but I will put a comment in the README to avoid future misunderstandings. Thanks for pointing it out.

[2019-02-13 13:29] #86 closed

[2019-02-14 19:27] lzrobots commented on #84
Thanks.

[2019-02-15 10:10] dongfengxijian commented on #6
@mingminzhen How you sloved it? Can you tell me?

[2019-02-15 16:36] rotabulo commented on #69
I am closing the issue due to inactivity. Please re-open it if the problem persists with the new release.

[2019-02-15 16:36] #69 closed

[2019-02-15 16:37] rotabulo commented on #67
I am closing the issue. Please re-open it if the problem persists with the new release and newer version of CUDA.

[2019-02-15 16:37] #67 closed

[2019-02-15 22:14] Jayan-K-Duggal opened #87 "Can't install with pip install"
I got this error :

FileNotFoundError: [Errno 2] No such file or directory: '/tmp/pip-req-build-vr5iy1dr/setup.py'

Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-req-build-2cpaoznm/
And I think steup.py file is missing too

[2019-02-16 06:40] wondervictor opened #88 "Stuck when starting the training"
PyTorch version: 0.4.1
using InPlaceABN: https://github.com/mapillary/inplace_abn/releases/tag/v0.0.3

When I start training using `torch.distributed`, after loading the pretrained model, the program get stuck and the GPU-util stays 0.

When I kill the program with key interrupt:

[code]
How to solve this?

[code]

[2019-02-17 06:57] JamesKasperYu opened #89 "gloo error"
Hi,
      I used distributed train with 'gloo' method but got error:
[code]
Thanks for your help.

[2019-02-17 08:08] JamesKasperYu commented on #89
nccl got zhe same error

[2019-02-17 12:10] rotabulo commented on #89
@JamesKasperYu do you get the error by running which script?

[2019-02-17 12:50] JamesKasperYu commented on #89
I just runed my net by replace bn+relu as inplace_abn.Before replaced bn+relu,it worked well.And the net works well in inplace_abn version with pytorch0.4.1.

[2019-02-17 12:55] JamesKasperYu commented on #89
Before replace bn+relu,the type of process_group is torch.distributed.ProcessGroupGloo,bucket_size is 4.
After that,the type of process_group is also torch.distributed.ProcessGroupGloo,bucket_size is 6.

[2019-02-18 07:01] sabrinazuraimi opened #90 "Training for KITTI dataset"
Hi, I found this project through the KITTI project page which listed your method as #1 for their pixel-level semantic segmentation tasks. However, I could only find the codes for training_imagenet.py here, how do I test this for the KITTI dataset? Should I modify the training_imagenet.py script to somehow work with KITTI?

[2019-02-18 08:24] rotabulo commented on #88
@wondervictor the old releases do not support DistributedDataParallel. You should switch to the newer release and to PyTorch  1.0 in order to use it.

[2019-02-18 08:26] rotabulo commented on #89
@JamesKasperYu are you using the synchronized version of inplace_abn ?

[2019-02-18 08:29] rotabulo commented on #70
I am closing the issue. Please reopen it if you experience the same problems with the newer release.

[2019-02-18 08:29] #70 closed

[2019-02-18 08:30] rotabulo commented on #80
I am closing the issue, since it is apparently not related to our inplace ABN layer.

[2019-02-18 08:30] #80 closed

[2019-02-18 08:32] JamesKasperYu commented on #89
yes,and it seem that the no sync version get the same error.

[2019-02-18 08:35] rotabulo commented on #89
@JamesKasperYu does it work with bn+relu with PyTorch v1.0? Your issue could be related to https://github.com/pytorch/pytorch/issues/13273 ?

[2019-02-18 08:36] rotabulo commented on #87
@JK009 we do not support direct installation via pip. Could you provide more details about the way you are trying to install?

[2019-02-18 08:38] JamesKasperYu commented on #89
yes,it works well with bn+relu with PyTorch v1.0.

[2019-02-18 08:41] lzrobots opened #91 "Can InplaceABNSync work in pre act cnn, like pre act resnet?"

[2019-02-18 08:55] rotabulo commented on #89
@JamesKasperYu we never encountered such issue, in particular with nccl. Can you provide us with some possibly small piece of code that reproduces the issue?

[2019-02-18 09:02] rotabulo commented on #91
@lzrobots yes, actually resnext, wider resnet, densenet use pre-activations.

[2019-02-18 09:15] lzrobots commented on #91
thanks

[2019-02-18 09:15] #91 closed

[2019-02-18 10:46] JamesKasperYu commented on #89
@rotabulo I make a mistake,it does not work with bn+relu with PyTorch v1.0,when I define a net in init like that:
[code]
it works well,but after add a conv under self.relu like that:
[code]

[2019-02-18 10:47] rotabulo commented on #89
@JamesKasperYu can you share also the forward computation?

[2019-02-18 10:51] JamesKasperYu commented on #89
two nets use the same forward computation:
[code]

[2019-02-18 10:54] rotabulo commented on #89
@JamesKasperYu I suspect this is definitely related to pytorch/pytorch#13273. Apparently you cannot have unused parameters, which is the case when you add conv2. You could try to use the implementation of DistributedDataParallel from apex (see the issue for details). I am also closing the issue, since it is not related to our repository.

[2019-02-18 10:54] #89 closed

[2019-02-18 17:24] Chetter2 opened #92 "Difference between InPlaceABN and ABN"
During conversion of a trained model, I found a difference in the implementation of InPlaceABN and ABN. Problem arises due to taking absolute value of weight in affine operation, which is not used by functional.batch_norm in ABN.

Minimal code to reproduce
[code]

https://github.com/mapillary/inplace_abn/blob/42b09524b1bce788e7bcc190a55a6f020895fba8/modules/src/inplace_abn_cuda.cu#L114

[2019-02-18 17:37] rotabulo commented on #92
@Chetter2 thank you for pointing this out. We introduced it in order to avoid division by zero and the change does not harm training compared to having the standard linear form.
It prevents nevertheless the possibility of loading directly models that were trained with standard bn in case they exhibit negative scaling factors. However, there are ways of pre-processing the pre-trained weights to ove

[2019-02-18 20:05] Chetter2 commented on #92
Thank you for your prompt response.
I had an opposite problem when I tried to replace InPlaceABN with ABN (in order to use jit and deploy). I am already taken absolute values of weights and added epsilon to it. Now ABN works like a charm. But this behavior was quite unexpected.

[2019-02-18 21:02] JK009 commented on #87
I am following this link:
https://medium.com/@eugenekhvedchenya/why-you-should-start-using-in-place-activated-batchnorm-11a85bb15c06

and trying to install using pip : pip install git+https://github.com/mapillary/inplace_abn

I downloaded the repo but wasn't able to use it with nn model, please let me know how can I use batch normalization in place instead of batch norm2d.

[2019-02-19 02:40] PkuRainBow commented on #5
@pkontschieder Hi, I have tried to train the WideResNet38-FCN models but find that the performance is even worse than the ResNet-101-FCN model under the same training settings.

For example, on the validation of Cityscapes, their performance is
_ResNet-101-FCN            75.90
WideResNet38-FCN       73.50_

Thus  I am wondering some details of your training:

**Q1**
Is the **WiderResNetA2** the mo

[2019-02-19 02:47] PkuRainBow opened #93 "How to train the WideResNet38-FCN for Segmentation"
@pkontschieder @ducksoup @rotabulo

Hi, I have tried to train the WideResNet38-FCN models but find that the performance is even worse than the ResNet-101-FCN model under the same training settings.

For example, on the validation of Cityscapes, their performance is
_ResNet-101-FCN            75.90
WideResNet38-FCN       73.50_

Thus  I am wondering some details of your training:

**Q1**
Is the **W

[2019-02-19 19:29] lzrobots commented on #91
Hi are you able to have a look the following code which is a Pre-act residual block.
I use `InPlaceABNSync` as bn then I got the _classic_ error >.<
`RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation
`

The code only works if I set _both_ the `self.bn1` and the bn in `self.shortcut` to the normal `nn.BatchNorm2d.`

[code]

[2019-02-20 11:44] rotabulo commented on #91
@lzrobots you could compare your implementation with https://github.com/mapillary/inplace_abn/blob/master/modules/residual.py#L102. Just a quick remark, I don't see the point of using inplace-ABN if you do not use the integrated activation because by putting RELU (not inplace) afterwards you loose all the memory savings.

[2019-02-20 11:51] lzrobots commented on #91
That's because I use a pre-trained model which is bn+relu. So I think replacing the bn with inplaceABNsync and keep the relu when loading the pretrained model is good way to maintain the power of pretrain model?

[2019-02-20 12:04] lzrobots commented on #91
Hi, did you share the first bn with shortcut? I didn't share the bn so I have two parallel bn: one for shorcut and one followed by the bottleneck main branch. Do you think this is the issue?

[2019-02-20 13:51] ducksoup commented on #91
@lzrobots In our implementation the first BN is indeed shared with the shortcut (when the shortcut includes a convolution).
In your code, when the residual block includes a convolution in the shortcut, you are applying InPlaceABN twice on the same input (i.e. the input x), performing an in-place operation twice on the same tensor. This generates the error you are seeing.

[2019-02-20 13:56] lzrobots commented on #91
Thanks @ducksoup But if I remove the bn in the shortcut, like:

[code]

still got the same error.

[2019-02-20 14:46] lzrobots commented on #91
So it only works if I set _both_ the `self.bn1` and the bn in `self.shortcut` to the normal `nn.BatchNorm2d.`

[2019-02-20 18:10] lzrobots commented on #91
Alright, I make it work by add two clone.()

[code]

[2019-02-21 14:35] #81 closed

[2019-02-22 10:19] manutom opened #94 "Problem with resnet50.pth.tar"
while running the following command:
python3 test_vistas.py ../Model/wide_resnet38_deeplab_vistas.pth.tar ../input/ ../

Getting the following error:
['../Model/resnet50.pth.tar', '../input/', '../output/', '--world-size', '1', '--rank', '0']
--- Loading model from snapshot
Traceback (most recent call last):
  File "test_vistas_single_gpu.py", line 306, in <module>
    main()
  File "test_vistas_s

[2019-02-22 13:23] rotabulo commented on #94
@manutom after the latest updates to the README some links got messed up. Can you retry downloading the vistas pre-trained model now?

[2019-02-22 13:59] manutom commented on #94
@rotabulo

It works now. thanks a lot for the super quick response

[2019-02-22 14:23] #94 closed

[2019-02-23 08:25] wondervictor commented on #88
ok, I've moved to PyTorch 1.0 version. thx

[2019-02-23 08:25] #88 closed

[2019-02-23 08:59] PkuRainBow commented on #93
@pkontschieder @ducksoup @rotabulo Could anyone share me advice?

[2019-02-25 14:53] rotabulo commented on #93
@PkuRainBow the model we use is the one that you can obtain here: https://github.com/mapillary/inplace_abn/blob/master/test_vistas_single_gpu.py#L201 without modifications.

[2019-02-25 15:36] rotabulo commented on #87
@Jayan-K-Duggal you should clone the repo and add it to python's search path.

[2019-02-25 19:20] manutom opened #95 "output_mode : probabilty"
In semantic segmentation using test_vistas.py, what does the image output (other than gray scale labels) when the output mode is set to : _prob_

is it the per-pixel probability to be a segment boundary?

[2019-02-26 09:24] rotabulo commented on #95
@manutom `prob` is just the pixel-wise probability of the most likely class. The correlation with boundaries is just a side-effect due to the confidence around boundaries being typically smaller.

[2019-02-26 10:08] manutom commented on #95
Thanks a lot for the quick response

[2019-02-27 12:22] CS-Jackson opened #96 "Some quastion about SyncBatchnorm"
Hi, @rotabulo . Can I use nn.DataParallel(model) for Sync-Inplace_abn, supposed I have one machine with two GTX1080Ti.

[2019-02-27 13:46] rotabulo commented on #96
@CS-Jackson the latest implementation of sync IABN works with _DistributedDataParallel_ also when you work on a single node. If you try to run it using `DataParallel`, it runs but without synchronizing.

[2019-02-27 17:13] lzrobots opened #97 "FileExistsError"
[code]

Hi above is the error I got everytime I run the training command line.
But it went well if I run the same training command line again.
I use DistributedDataParallel in training.
Did you have this problem before?

[2019-02-27 17:16] rotabulo commented on #97
@lzrobots this happens to me as well sometimes and disappears by just restarting or by deleting `/tmp/torch_extensions`, but it is apparently not related to our code, because I had this also with other compiled modules.

[2019-02-27 17:29] lzrobots commented on #97
I see but this is really annoying when queuing in the server.

[2019-02-27 20:10] rotabulo commented on #97
@lzrobots this seems to be related to https://github.com/pytorch/pytorch/pull/6684 .
A possible workaround could be the following. Assume your script is `train.py` that you run on multiple gpus with `torch.distributed.launch`. You could first run `python train.py` to e.g. show the command line help and then run the script with all arguments. In this way the first run of the script (on a single pro

[2019-02-28 15:28] lzrobots commented on #97
[code]

Got this cuda error but my CUDA is fine by testing on the NVIDIA_CUDA-9.2_Samples,
Don't know if it is caused by deleting `/tmp/torch_extensions`?

[2019-02-28 15:32] rotabulo commented on #97
@lzrobots I don't think it's related. It is more likely that the libcudart library is not found. you could search its position and add `LD_LIBRARY_PATH=<folder to library> <your script>`

[2019-02-28 16:44] lzrobots commented on #97
Thanks. the cuda problem solved.
For the FileExistsError, your suggestion works so far.
I first run `python -m torch.distributed.launch --nproc_per_node=$NGPUS train.py` without defining `config` and then run the same command line with full config definition.

I will close the issue to confirm if I don't get the error in the next couple of runs. Thanks.

[2019-02-28 16:53] rotabulo commented on #97
@lzrobots you should better launch `python train.py` because otherwise you trigger again a parallel compilation.

[2019-02-28 20:27] #97 closed

[2019-03-04 09:50] #95 closed

[2019-03-04 16:45] owoshch opened #98 "ABN import error"
While doing `from modules import ABN, SingleGPU`  I'm getting an error with the following traceback:
Do you have any recommendations how to handle this error?

`    from modules import ABN, SingleGPU
  File "/home/fedor.kitashov/test_pytorch_10/inplace_abn/modules/__init__.py", line 1, in <module>
    from .bn import ABN, InPlaceABN, InPlaceABNSync
  File "/home/fedor.kitashov/test_pytorch_10/inpl

[2019-03-04 17:00] rotabulo commented on #98
@owoshch can you try in a console `which c++` ?

[2019-03-05 08:52] denru01 commented on #84
@lzrobots I encountered both of your issues: 1) slightly lower accuracy, 2) higher GPU memory usage for one GPU when I load a pre-trained model. Could you tell us how you solved them? Thanks!

[2019-03-05 09:55] lzrobots commented on #84
@denru01 1) the performance drop is due to not using the `DistributedDataParallel`, 2) I didn't found the memory problem after changing to another segmentation code base with _inplace_ module and `DistributedDataParallel`.

[2019-03-05 11:42] brucemuller247 opened #99 "Slow Training Time for Segmentation Model"
Dear Mapillary Developers

I'm implementing your segmentation model into my PyTorch code base for my PhD research.
Problem: it's taking around 6 hours to train a single epoch on Vistas from scratch (on a single GTX 1080). Is this normal?

My feeling is that it shouldn't take this long as other models (e.g. u-net) take under an hour (about 15min). It also seems to lag on sending tensors to GPU if I

[2019-03-06 03:17] asfavdfqefc opened #100 "About pre-trained model"
If I use a backbond(such as resnet101) which use this inplace abn, I must use the pre-trained model' weight that you give?

[2019-03-06 07:09] asfavdfqefc commented on #84
@lzrobots I met the same issue too. I use the project  https://github.com/speedinghzl/pytorch-segmentation-toolbox, which is the same as yours, but I don’t know how to correctly change the Dataparallel to DistributeDataParallel.
I have already try to use the DistributeDataParallel instead of Dataparallel, but the result is still lower than the old version bn. I don't know whether I wrongly used th

[2019-03-06 07:19] asfavdfqefc commented on #84
@lzrobots when I use the DistributeDataParallel, the result even lower than the DataParallel in toolbox pspnet.

here is the code(train.py):
import argparse

import torch
import torch.nn as nn
from torch.utils import data
import numpy as np
import pickle
import cv2
import torch.optim as optim
import scipy.misc
import torch.backends.cudnn as cudnn
import sys
import os
from tqdm import tqdm
import o

[2019-03-06 07:22] asfavdfqefc commented on #84
@lzrobots when I use the DistributeDataParallel, the result even lower than the DataParallel in toolbox pspnet.

here is the code(train.py):
`import argparse

import torch
import torch.nn as nn
from torch.utils import data
import numpy as np
import pickle
import cv2
import torch.optim as optim
import scipy.misc
import torch.backends.cudnn as cudnn
import sys
import os
from tqdm import tqdm
import

[2019-03-06 07:26] asfavdfqefc commented on #84
@lzrobots when I use the DistributeDataParallel, the result even lower than the DataParallel in toolbox pspnet.

here is the code(train.py):

`import argparse

import torch
import torch.nn as nn
from torch.utils import data
import numpy as np
import pickle
import cv2
import torch.optim as optim
import scipy.misc
import torch.backends.cudnn as cudnn
import sys
import os
from tqdm import tqdm
import

[2019-03-06 10:27] rotabulo commented on #100
@asfavdfqefc no, you can use inplace ABN in any architecture, you just need to properly replace BN+Activation with Inplace ABN. We provide a pre-trained resnet101 to show that we can reproduce the scores of the original models and allow to use it directly via our repository.

[2019-03-06 10:41] lzrobots commented on #84
@denru01 @asfavdfqefc How much did you get on cityscapes val? Took a look the code above and it's almost same as mine except I use `shuffle=False` since `train_sampler` already take care of the sampling. Correct me if I am wrong.
set same learning rate as before.

[2019-03-06 10:41] asfavdfqefc commented on #100
ok  I see, Thank you very much

[2019-03-06 13:41] asfavdfqefc commented on #84
@lzrobots I got 75.3% mIoU in cityscapes val set(it should be 78.3!), and the parameters I set , such as learning rate,weight decay and so on , are all obey the toolbox default setting.
and I also use shuffle=False too,
[code]
here the shuffle=False because the sampler is not None.

So, Is it all the same? that's really strange.
Would you mind send me your code please?

and I also have some doubt

[2019-03-08 08:26] #100 closed

[2019-03-10 21:22] lzrobots opened #101 "declare bn inside forward"
For some reason, I need to declare the `bn` inside of  forward. There is no problem of `nn.BatchNorm2d()` in following code but when replace the `nn.BatchNorm2d()` with `InPlaceABNSync` then the programme is stuck there without printing error. Do you have any idea to make it work?

[code]

[2019-03-11 08:39] rotabulo commented on #101
@lzrobots does it work the version without sync? By the way, by not declaring the module in the init, you probably are not optimizing the parameters of the addtional layers ... does it make sense to you?

[2019-03-11 08:51] lzrobots commented on #101
@rotabulo Yes it works with `nn.BatchNorm2d` but doesn't work for `InPlaceABNSync`. Is there any solution to declare `bn` and `conv` that relate to the spatial size (`h, w`) of input in init?

[2019-03-11 09:02] rotabulo commented on #101
@lzrobots I meant, did you try with `InPlaceABN` _non_sync ?
Regarding you question, depends how you want to tie the parameters to the different input sizes.

[2019-03-13 13:37] owoshch commented on #98
it returns nothing, as well as `which g++`
running `sudo apt-get install g++` returns
 `Reading package lists... Done
Building dependency tree
Reading state information... Done
g++ is already the newest version (4:7.3.0-3ubuntu2.1).
0 upgraded, 0 newly installed, 0 to remove and 204 not upgraded.`

I have also already run `sudo apt install build-essential`

[2019-03-13 13:43] rotabulo commented on #98
@owoshch as you can see from your error, the issue is that `Command '['which', 'c++']' returned non-zero exit status 1`, You could redirect c++ to g++.

[2019-03-13 13:48] owoshch commented on #98
Thank you!
Running this `sudo apt-get install -y gcc-6 g++-6 clang`  solved the error

[2019-03-13 13:48] #98 closed

[2019-03-13 15:15] owoshch opened #102 "ABN import error: Command '['ninja', '-v']' returned non-zero exit status 1."
I have troubles using ABN. I'm aware of similar issues. I've installed CUDA 9.2 and it didn't help.
Do you have any recommendations on this?

Ubuntu 18.04.1 LTS

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corporation
Built on Fri_Nov__3_21:07:56_CDT_2017
Cuda compilation tools, release 9.1, V9.1.85

gcc --version
gcc (Ubuntu 6.5.0-2ubuntu1~18.04) 6.5.0 20181026
Copyright

[2019-03-13 15:16] rotabulo commented on #102
@owoshch can you simply try to let `c++` point to `g++` ?

[2019-03-13 15:48] owoshch commented on #102
Which command should I use for that?

[2019-03-13 15:59] rotabulo commented on #102
@owoshch `sudo ln -s /usr/bin/g++ /usr/bin/c++` but you should probably first uninstall the c++ you have installed, or you make sure that the aliased `c++` is in the search path before `/usr/bin` .

[2019-03-14 10:10] owoshch commented on #102
I've done this and got a new error pointing out that I don't have an essential include <new> in memory file.
The solution is to reinstall libstd: `sudo apt install --reinstall libstdc++-7-dev`
Thanks for help!
`File "/home/fedor.kitashov/test_pytorch_10/inplace_abn/modules/__init__.py", line 1, in <module>
    from .bn import ABN, InPlaceABN, InPlaceABNSync
  File "/home/fedor.kitashov/test_pytorc

[2019-03-14 10:10] #102 closed

[2019-03-14 10:14] #101 closed

[2019-03-15 03:03] geekboood opened #103 "Question about DistributedDataParallel"
I only need to train my network with InplaceABN in single GPU and I have already read about `https://github.com/mapillary/inplace_abn/issues/84`.
Now I have some problem about implementing `DistributedDataParallel` in my code. I wonder if it is necessary to use it when I only use `InPlaceABN` in my code.

[2019-03-15 08:16] rotabulo commented on #103
@geekboood no that's not needed by `InPlaceABN`. It is required if you want to use the synchronized version.

[2019-03-15 09:33] geekboood commented on #103
@rotabulo Thank you for the answer! By the way, I encounter a CUDA OOM problem when I change the learning rate, and I have never meet that when I using traditional BatchNorm. Do you have any idea about that? Is this InplaceABN need to consume more memory when I change the learning rate?

[2019-03-15 09:34] rotabulo commented on #103
@geekboood no there is no relation at all, so you probably have other issues in the code.

[2019-03-15 10:50] zsp1993 opened #104 "Command '['ninja', '-v']' returned non-zero exit status 1"
Traceback (most recent call last):
  File "/home/peng/anaconda2/envs/python36/lib/python3.6/site-packages/torch/utils/cpp_extension.py", line 576, in _build_extension_module
    ['ninja', '-v'], stderr=subprocess.STDOUT, cwd=build_directory)
  File "/home/peng/anaconda2/envs/python36/lib/python3.6/subprocess.py", line 356, in check_output
    **kwargs).stdout
  File "/home/peng/anaconda2/envs/pyth

[2019-03-15 10:51] zsp1993 commented on #104
I don't know why [1/5] /usr/local/cuda-9.1/bin/bin/nvcc has two bin

[2019-03-17 13:15] geekboood commented on #103
@rotabulo OK, thanks you for the answer. It turns out that although this InplaceABN could increase the batchsize and the performance somehow may benefit from that, in semantic segmentation scenario the performance of ResNeXt101 is worse than SE-ResNeXt50. Our dataset is relatively small and we must utilize pretrained models. Can I load the pretrained model for BN into a InplaceABN modified model?

[2019-03-18 08:20] sunggukcha commented on #104
I am also suffered from the same problem,
subprocess.CalledProcessError: Command '['ninja', '-v']' returned non-zero exit status 1.

I am using python3.6, torch>1.0.0, CUDA9.2, and appropriate cudnn.

[2019-03-18 11:37] RanTaimu opened #105 "How to correctly load a standard BN-trained weight file ?"
Hi, thanks for your excellent work. But I have some questions about loading weights from a standard BN-trained weight file (.pth file) into the new model, which is equipped with the newest version of InPlaceABNSync.

I'm reimplementing my work with PyTorch 1.0 and using torch.nn.parallel.DistributedDataParallel for multiple GPUs case, but the performance is lower than the original version(About 1%

[2019-03-20 14:42] sbelharbi commented on #104
Hi,
   I am having a similar issue. Any updates? thanks!

[2019-03-21 11:23] #105 closed

[2019-03-21 14:38] sbelharbi commented on #102
Hi,
   I made it work on two servers (ubuntu 16, cuda 9.1, gcc 5.4), but not on my computer (ubuntu  18.04, cuda 9.1, gcc 6.5) which has similar configuration as @owoshch

did you figure it out how to fix this? (not clear in your last message @owoshch ) Thanks!

[2019-03-21 16:07] sbelharbi opened #106 "/usr/include/c++/6/cmath:45:23: fatal error: math.h: No such file or directory"
Hi,
   config:
Ubuntu: 18.04
gcc: 5.5, 6.5, 7.3
cuda: 9.1
python: 3.7
pytorch: 1.0

This issue is related to some posted issues. Sorry for repetition.

I am sure the error is related to the version of cuda, gcc. For now, I changed the version of gcc (using update-alternatives) and the wheel of pytorch (compiled using different cuda).

I obtain the error below. Any pointer is much appreciated!!! th

[2019-03-22 01:18] sbelharbi commented on #106
Fixed.
Cause of the issue: mismatch of the gcc, cuda versions (pytorch pre-compiled version made things worse).

Ubuntu: 18.04

Fix:
1. Install cuda 10.0 ([https://developer.nvidia.com/cuda-10.0-download-archive](https://developer.nvidia.com/cuda-10.0-download-archive))
2. Switch to gcc 7.3 (if you have many versions of gcc use `update-alternatives`. Ubuntu 18.04 comes by default with gcc 7.3.)
3.

[2019-03-22 01:19] #106 closed

[2019-03-22 01:19] sbelharbi commented on #104
Fix: https://github.com/mapillary/inplace_abn/issues/106#issuecomment-475460496

[2019-03-22 10:35] sbelharbi commented on #102
Fix: https://github.com/mapillary/inplace_abn/issues/106#issuecomment-475460496

[2019-03-26 02:30] roominforest commented on #96
Hi,@rotabulo.I encounter a cuda error (out of memory) after several epochs of training and validation when I use Sync-Inplace_abn with DistributedDataParallel to train a 3d model. I wonder if Sync-Inplace_abn will make the master gpu memory consuming too much.

[2019-03-26 09:15] rotabulo commented on #96
@roominforest the additional memory requirement of sync iABN is negligible, so I guess the issue comes from other parts of the code. We use it in every project and we never had issues so far.

[2019-03-26 11:43] sbelharbi commented on #11
hi @PkuRainBow
I am running into the same issue. Did you find a way to deal with it? thanks
[code]

[2019-03-28 13:32] geekboood opened #107 "Multi-card overhead issue"
Recently I tried to use the InPlaceABNSync in my model. My total train set has 3456 images, and when I train it by using single card and InPlaceABN with batchsize equals to 6, a single epoch takes me 550s (which means about 1s each iteration). Compared with InPlaceABN, I use two cards with the same configuration, and it takes about 3.5s each iteration. It is 3.5x slower. Is that normal?

[2019-03-28 13:41] geekboood commented on #99
Hi! I encounter the same issue. Do you figure it out?

[2019-03-28 13:49] rotabulo commented on #107
@geekboood I guess you meant `InPlaceABNSync` in the latter case. What running time do you get if you use `InPlaceABN` on two gpus ?

[2019-03-28 14:07] geekboood commented on #107
@rotabulo I just have used it on single GPU.

[2019-03-28 14:10] rotabulo commented on #107
@geekboood `InPlaceABNSync` delivers negligible overhead compared to `InPlaceABN`, so you might have issues that do not depend on that. So, you can train on the multi-gpu setting with `InPlaceABN` (no sync) and validate the hypothesis.

[2019-03-28 14:11] geekboood commented on #107
@rotabulo Ok, I will try it immediately.

[2019-03-28 14:13] geekboood commented on #107
@rotabulo I still got ~3.5 seconds per iteration. Perhaps I have some problem in the usage of `DistributedDataParallel`.

[2019-03-28 14:32] geekboood commented on #107
@rotabulo It is my fault. Previously I use the code which is compatible with Pytorch 0.4.1 and in that version everything goes well (single card 0.8s / iter and dual card 1.2s / iter). When I update Pytorch to 1.0.1 and use the latest code things get tricky. I am using CUDA9.0 maybe that is the reason. I will stay with  Pytorch 0.4.1. Thank you for your patience!

[2019-03-28 14:35] rotabulo commented on #107
@geekboood have you tried cuda 9.2 instead? Our experience is that by moving to PyTorch 1.0 and CUDA 9.2 and recent cudnn we got a speed performance boost

[2019-03-28 14:45] geekboood commented on #107
@geekboood Many people share our lab machine and their code rely on old version of Tensorflow, Pytorch, etc. My tutor won't let me upgrade it.

[2019-03-29 02:18] #107 closed

[2019-03-29 02:18] #103 closed

[2019-03-31 11:40] Anikily opened #108 "Permission denied:'/tmp/torch_estensions/inplace_abn/lock'"
<img width="954" alt="屏幕快照 2019-03-31 下午7 37 07" src="https://user-images.githubusercontent.com/40237123/55288601-64cc2b00-53ec-11e9-90b6-a6bf21598a25.png">

[2019-03-31 14:53] rotabulo commented on #108
@Anikily you can try set `TORCH_EXTENSIONS_DIR` to a different folder.

[2019-04-01 03:57] roominforest commented on #96
Thank you @rotabulo for your prompt response. I have found the crux of this issue.

[2019-04-01 05:16] Anikily commented on #108
@rotabulo thanks,i run this code in docker and never meet this bug ever before, so,i want to know how I could to fix it.

[2019-04-02 02:23] PkuRainBow commented on #11
I still meet this problem.

Very strange!

[code]

[2019-04-02 05:16] PkuRainBow opened #109 "RuntimeError: CUDA error: an illegal memory access was encountered"
It seems that there exist a strange bug with your code.

I am using Ubuntu 16.04 with CUDA10.0 installed with Pytorch1.0 and the cudnn is 7.5

![image](https://user-images.githubusercontent.com/4639578/55377811-3c0d7800-5549-11e9-9bc5-cde32342af83.png)

[2019-04-02 05:31] rotabulo commented on #11
@PkuRainBow due to the asynchronous nature of operations, the error happened somewhere before in the network. You can try setting `CUDA_LAUNCH_BLOCKING=1` to serialize operations and figure out the exact point where the issue appears.

[2019-04-02 05:35] PkuRainBow commented on #11
@rotabulo It would be great if you could help check more details in https://github.com/mapillary/inplace_abn/issues/109

[2019-04-02 05:38] PkuRainBow commented on #11
@rotabulo Besides, I have not used the distributed training and I simply want to train my model with pytorch1.0~

[2019-04-02 11:40] sbelharbi commented on #11
@PkuRainBow can you try running the code using `CUDA_LAUNCH_BLOCKING=1` as suggested by @rotabulo ? it will point to the place where the error occurs for the first time (what you are showing is the place of the second call).

Does your code run fine on CPU?

You can try to run the code on another device to see if the issue is device dependent or not.

See also: [link](https://discuss.pytorch.org/t

[2019-04-02 12:30] PkuRainBow commented on #11
@sbelharbi When I set as below,

`CUDA_LAUNCH_BLOCKING=1  ${PYTHON} -u main.py  ....`

The program just output nothing and I have waited for more than 2 minutes.

I am wondering what is the exact usage of the **CUDA_LAUNCH_BLOCKING=1**.

[2019-04-02 12:48] PkuRainBow commented on #11
@sbelharbi It would be great if could help me check the posted https://github.com/mapillary/inplace_abn/issues/109  with more details.

[2019-04-02 13:20] brucemuller247 commented on #99
Hi @geekboood

So since then I found I could actually train a single epoch in under an hour if using a much more powerful GPU or multiple GPUs. Can you try this?

The problem I have now is the results after training for many epochs don't look good and I only achieve a mean IoU of about 8% over the validation set (on Vistas). I attached some example and the training curve. Do you have an idea of wh

[2019-04-02 13:33] brucemuller opened #110 "Low Semantic Segmentation Performance"
Hi Mapillary

I'm trying to implement your Semantic Segmentation model from your InPlaceABN paper. So far my results achieve around 8% mean IoU on the validation set. I don't want to clog this post with the code but I'm happy to share if requested. I'm using a batch size of 150 and a fixed SGD LR of 0.001. I've attached some example results and training curves. Do you have any idea on what's likel

[2019-04-03 12:57] geekboood commented on #99
@brucemuller247 I roll back to the version compatibles with Pytorch 0.4.1 and my model trains normally. As for your problem, what is the backbone of your end-to-end network and what loss function do you use? Usually for semantic segmentation tasks, I use CrossEntropyLoss and it will converge to 0.0x.

[2019-04-05 13:57] brucemuller247 commented on #99
@geekboood Thanks for your reply, good idea to roll back. Are you using multiple GPUs when it trains normally?

For backbone I use the WiderResNet (https://github.com/mapillary/inplace_abn/blob/master/models/wider_resnet.py) they state in the paper. For loss I also use CrossEntropyLoss but I'm not getting that convergence. What order of magnitude learning rate and batch size are you using? Are you

[2019-04-05 21:21] bryanyzhu commented on #80
@wutianyiRosun @rotabulo Hi, have you solved your problem? I met the same thing. I did `from modules import InPlaceABNSync`, but still OOM. Thank you very much.

[2019-04-05 21:22] bryanyzhu commented on #78
@lcybuzz @loveddy Hi, have you solved your problem? I met the same thing. I did `from modules import InPlaceABNSync`, but still OOM. Thank you very much.

[2019-04-07 00:36] sbelharbi commented on #11
It forces synchronous computation on the GPU.
It is weird that there is no output when you use `CUDA_LAUNCH_BLOCKING=1`. Can you wait longer ... probably you are doing large computations ... since you are in a sequential mode, it may take long.

Can you check the size of `x` at the line where the error occurs? (print it just before that line ...) it seems that there is something wrong with the sha

[2019-04-08 23:59] Jayan-K-Duggal commented on #87
I cloned it and added to my python path but I want to use this with squeezenext model but in python or pytorch 1.0

[2019-04-12 17:08] amaanda commented on #87
@Jayan-K-Duggal were you able to solve the problem? I also tried downloading, added it to the path and it still won't work.

[2019-04-12 17:20] amaanda opened #111 "Can't install on Windows"
I've tried simply cloning the repo and adding it to the path, it did not work. I also tried following the steps on this link https://medium.com/@eugenekhvedchenya/why-you-should-start-using-in-place-activated-batchnorm-11a85bb15c06 but it seems to be outdated since there is no setup.py file on this repo.

Any help would be appreciated. Thanks!

[2019-04-12 17:41] charlesCXK commented on #104
`/bin/sh: 1: /usr/local/cuda-9.1/bin/bin/nvcc: not found`
It is because in `/home/peng/anaconda2/envs/python36/lib/python3.6/site-packages/torch/utils/cpp_extension.py`, the function **__find_cuda_home_** finds the wrong cuda_home variable. So you can modify the py tile, I mean, modify the cuda_home variable it finds, such as delete a '/bin' in it, and you will run Inplace ABN correctly.

[2019-04-13 06:30] Jayan-K-Duggal commented on #87
@amaanda No, I give me some other kind of error, I don't remember exactly, will eventually mention it down when I will rerun the model. The ABN still is not working with my custom made NN model.

[2019-04-13 17:52] charlesCXK commented on #58
Thank you, the newest version solves the problem.

[2019-04-16 11:41] amaanda commented on #87
@Jayan-K-Duggal alright, please share when possible so we can try to solve it. I am now trying to convert the model from pytorch to tensorflow, but there seems to be a problem with how torch saves the model.

[2019-04-16 15:52] charlesCXK opened #112 "ninja build error"
Here is my system info:

- PyTorch: 1.0.0
- CUDA: 9.1
- GCC: 5.4.0
- OS: Ubuntu 16.04

How could this happen?
I use the old version InplaceABN successfully with PyTorch 0.4.0, but some errors occur when I want to build the lastest version of InplaceABN.

[code]

[2019-04-16 15:54] rotabulo commented on #112
@charlesCXK please try upgrading to CUDA 9.2.

[2019-04-16 16:05] charlesCXK commented on #112
Thank you for your reply so quickly !
I tried to use CUDA 9.2 just now, and the same error occured.
I rememberd that I had built the newest version of InplaceABN with CUDA 9.0 a couple days ago, so maybe it doesn't matter with the  CUDA version. Is there any other solution possible?

[2019-04-16 16:13] rotabulo commented on #112
Are you using pytorch1.0 that comes pre-built with CUDA 9.x with x<=1 ?

[2019-04-16 16:33] charlesCXK commented on #112
I am using PyTorch 1.0.0 built from conda (Tsinghua University's channel)
The main difference between conda-pytorch and source code-pytorch is `_GLIBCXX_USE_CXX11_ABI`, but this problem was solved in PyTorch 1.0.0 [here:](https://discuss.pytorch.org/t/undefined-symbol-when-import-lltm-cpp-extension/32627/2)

In fact, I use PyTorch installed by conda all the time, and I once built the newest versio

[2019-04-16 16:37] charlesCXK commented on #112
Acyually, I am curious about what caused the error:
`/home/chen/pytorch-seg-new/lib/LibInplaceABN/modules/src/inplace_abn_cuda.cu(99): error: no suitable user-defined conversion from "at::Type" to "c10::IntList" exists`

[2019-04-17 09:40] rotabulo commented on #112
@charlesCXK you cannot use the old version of inplaceABN with the new version of PyTorch. You need to switch to the latest release of InplaceABN.

[2019-04-17 10:34] charlesCXK commented on #112
-:) I used the latest version of InplaceABN by `git clone https://github.com/mapillary/inplace_abn.git` this month.

[2019-04-17 12:22] rotabulo commented on #112
@charlesCXK I am a bit confused here. Your error points e.g. to the following line:
[code]

but there is no such line in the latest version of `inplace_abn_cpu.cpp`. Indeed, that part was removed after a commit on 28th Nov 2018.

[2019-04-17 12:42] charlesCXK commented on #112
@rotabulo
Oh it was my fault, I am so sorry to bother you.
In my code `network.py`, I import the function `InPlaceABNSync` from the **lastest version** of InplaceABN, but in the backbone ResNet (another code file `resnet.py`), I import the function `InPlaceABNSync` from the **old version** of InplaceABN. `from resnet import ResNet` is used in the file `network.py`, so the above error occured. Than

[2019-04-17 12:42] #112 closed

[2019-04-17 13:32] pepeuno opened #113 "Get useful information when do inference with Mapillary Vistas pre-trained model"
Hi,

I run this code "python test_vistas.py /path/to/model.pth.tar /path/to/input/folder /path/to/output/folder" on Mapillary Vistas pre-trained model with an image and I get this result:
![__CRyFzoDOXn6unQ6a3DnQ](https://user-images.githubusercontent.com/49697383/56291253-d9a5a180-611c-11e9-9b7c-e66733ec7b2a.png)

I would like to apply some transformations to the image to make it more clear (now

[2019-04-19 06:57] rotabulo commented on #113
@pepeuno the network we provide addresses plain semantic segmentation, while you are apparently interested in instance-segmentation. You should apply an algorithm such as, e.g.,  mask-RCNN to the Vistas dataset to obtain such a model.

[2019-04-19 06:59] rotabulo commented on #110
@brucemuller247 we provide details about our model and how we trained it in the paper https://arxiv.org/abs/1712.02616

[2019-04-20 04:38] denru01 opened #114 "InPlaceABN and InPlaceABNSync do not generate the same results as torch.nn.BatchNorm2d"
I noticed that InPlaceABN and InPlaceABNSync do not generate the same results as torch.nn.BatchNorm2d and manual computation with the same parameters. I tested ABN, InPlaceABN and InPlaceABNSync, and only ABN gave the matched answer. Please refer to the following code. I am using Pytorch 1.0 and the head of the master branch. Did I do something wrong?

Code:
[code]

Result:
[code]

[2019-04-20 04:48] denru01 commented on #114
I think this is a duplicated issue as #92, so I close it.
However, I would suggest putting this note into the readme because this behavior is highly not expected and took me a whole night debugging the code.
Thanks!

[2019-04-20 04:48] #114 closed

[2019-04-24 15:57] amaanda opened #115 "Pytorch: ImportError: No module named 'inplace_abn'"
When I try importing the module in a simple python code such as

[code]
I get no errors. But when I try the command pointed in the README by the authors, that is,

`python test_vistas.py /path/to/model.pth.tar /path/to/input/folder /path/to/output/folder`

I get the following error:

[code]

I am using Pytorch 1.0 stable, Python 3.6.8 and CUDA 9.0. Any suggestion on how to solve this issue?

[2019-05-01 10:21] charlesCXK opened #116 "Difference between ABN, InplaceABN, InplaceABNSync"
Hi, after reading the demo code, I have a question: If I use ABN as what `train_imagenet.py` does, and I use 8 gpus to train my model, does this function (ABN) perform sync BatchNorm?

[2019-05-01 10:25] charlesCXK commented on #116
From the source code, it seems that `ABN` is just a normal BatchNorm with activation layer?

[2019-05-02 10:17] rotabulo commented on #116
@charlesCXK `ABN` is just standard BN + activation; `InplaceABN` is akin to `ABN` but with inplace computation. `InplaceABNSync` is `InplaceABN` but with synchronized across all gpus.

[2019-05-02 12:31] charlesCXK commented on #116
@rotabulo
Thanks!

[2019-05-02 12:31] #116 closed

[2019-05-02 16:18] rotabulo commented on #114
@denru01 I have added a paragraph in the README that should clarify how we implement the scaling factor. Le me know if you think it's still not clear.

[2019-05-02 21:24] denru01 commented on #114
@rotabulo That is awesome. Thanks!

[2019-05-05 13:44] qih96 commented on #111
i also want to know how to make it work? if you solved this problem, pls help me. thinks

[2019-05-06 13:25] sonack commented on #81
@b-hahn  How did you use the CUDA9.2 , I saw there is only 9.0 in pytorch website, and when I use it the problem remains.

[2019-05-06 13:53] sonack commented on #81
I got it! Indeed it is the cuda 8.0 wrong, but things a little different. I have several versions' CUDA installed, and the default `/usr/local/cuda` symbolic link to the `/usr/local/cuda-8.0`, which I don't have privilege to change it . Finally, I change the CUDA_HOME environment variable to `/usr/local/cuda-10.0`, and everything seems good.

[2019-05-10 13:43] Smoltbob opened #117 "How do you install?"
Hello,

There is a mention of compiling in the readme but no details.
Do I need to compile something or is the code usable as is ?

Thanks

[2019-05-10 15:12] rotabulo commented on #117
@Smoltbob no, those are compiled by Pytorch automatically.

[2019-05-13 02:35] PkuRainBow opened #118 "How to convert the labels of Mapillary Dataset to be the same as Cityscapes?"
Recently, we find that many approaches in the leaderboard of Cityscapes use the Mapillary dataset
as external datasets to achieve nearly ~1% improvement.

We are wondering how to align the label sets of Mapillary to the label sets of Cityscapes, here we have tried to choose a label-subset of Mapillary, which is consisted of only the labels existing in the Cityscapes and find that there exist a lar

[2019-06-11 18:21] rudylyh commented on #104
modify the torch source code /usr/local/lib/python3.5/dist-packages/torch/utils/cpp_extension.py, and change ['ninja', '-v'] in line 759 to ['ninja', '--v']

[2019-06-13 23:03] rudylyh commented on #104
This is because PyTorch failed to build the InplaceABN library. Normally, there should have some files like inplace_abn.so and build.ninja in /tmp/torch_extensions/inplace_abn/, if the just-in-time compile is successful. The failure could be caused by many factors, including gcc, cuda, ninja, pytorch.
It works for me with the combination of gcc7.3+cuda10.1+ninja1.9+pytorch0.4.1.
Took me two days t

[2019-06-18 16:29] vakkov commented on #104
Try installing ninja in such a way - https://www.claudiokuenzler.com/blog/756/install-newer-ninja-build-tools-ubuntu-14.04-trusty#.WxYrvFMvzJw

[2019-07-03 07:42] pkontschieder commented on #118
@PkuRainBow I guess most entries used Vistas for pre-training (on all its available classes) and eventually only replaced the final classification layer to accommodate for the set of Cityscapes classes during finetuning on Cityscapes data. In that way, there is no need for directly matching the classes.

[2019-07-03 12:35] PkuRainBow commented on #118
@pkontschieder Could you share with me how much improvement do you achieve (in your approach) through using the Vistas dataset?

[2019-07-04 16:16] txfs1926 opened #119 "module 'torch.distributed' has no attribute 'group'"
the code below triggered the error as the title:
`from inplace_abn import InPlaceABNSync`
error:
[code]
The package is installed by using the command:
`pip install git+https://github.com/mapillary/inplace_abn.git@v1.0.0`

My env:
Windows 10
Python 3.7.1
Pytorch 1.1.0
cuda 10.2

Thanks!

[2019-07-04 19:49] khoshsirat opened #120 "weight and x must have the same type (forward at src/inplace_abn.cpp:60)"
Hi,

I'm using [apex.amp](https://github.com/NVIDIA/apex) for half precision.
On the older implementation (before today's update) I was able to use _amp_ with opt_level='O1'.
But today I updated the inplace_abn module and it's not working with _amp_ anymore.
It appears that the new update does not work with fp16.

Here is part of the error:
`
/usr/local/lib/python3.6/dist-packages/inplace_abn/func

[2019-07-05 07:19] ducksoup commented on #119
I've tried to reproduce this in both Pytorch 1.1.0 and Pytorch 1.0.1 with no success. As you can see here: https://github.com/pytorch/pytorch/blob/v0.4.1/torch/distributed/__init__.py#L142, the class `group` with the `WORLD` attribute has been a part of `torch.distributed` since at least Pytorch 0.4.1. I suspect this error might be related to your particular installation of Pytorch.

Can you try t

[2019-07-05 08:38] ducksoup commented on #120
This is a limitation of the current implementation, I'm working on a patch to restore full compatibility with Apex. This will hopefully be released as inplace_abn 1.0.1 before the end of the week.

[2019-07-05 10:12] ducksoup commented on #120
@khoshsirat 1.0.1 should restore Apex compatibility. Please let me know if you encounter other issues when running mixed-precision training!

[2019-07-05 10:16] AmeetR opened #121 "leaky relu slope parameter is not defined [bug]"
I'm attempted to test vistas in order to train on my own datasets, in order to do this, I'm trying to use to test_vistas.py script. It seems that the parameter 'slope' is passed into InplaceABN and ABN. However, I'm pretty sure that these functions refer to this parameter as activation_param, they seem to mean the same thing mathematicallly. I tried changing slope to activate_param but it gave the

[2019-07-05 10:57] ducksoup commented on #121
I commited a fix to master, can you please try it and confirm that it works?

[2019-07-06 09:15] txfs1926 commented on #119
Hi @ducksoup , I've tried that and it raised ImportError:
[code]
However, it can be imported from torch.distributed.deprecated:
`from torch.distributed.deprecated import group`

[2019-07-06 13:45] ducksoup commented on #119
@txfs1926 This is quite strange. As I said, `from torch.distributed import group` works on all the installations of Pytorch I have access to. This is under Linux though, there might be something Windows-specific at play here. Can you import anything else from `torch.distributed`, e.g. `init_process_group`?

In any case, since `from torch.distributed.deprecated import group` seems to work for you I

[2019-07-06 14:04] txfs1926 commented on #119
Hi,  It looks like I can only import these from torch.distributed.
![20190706214932](https://user-images.githubusercontent.com/44914789/60757151-79e2d680-a039-11e9-97ea-7a49647e2b6e.jpg)

Then I checked the https://github.com/pytorch/pytorch/blob/v1.1.0/torch/distributed/__init__.py and it seems that, comparing to v0.4.1, lots of methods are removed in that of v1.1.0.

Finally, I revised all `impo

[2019-07-06 14:04] #119 closed

[2019-07-06 18:46] #120 closed

[2019-07-08 05:49] AmeetR commented on #121
Thanks! This worked.

[2019-07-08 05:49] #121 closed

[2019-07-08 05:51] AmeetR commented on #118
@pkontschieder  are you sure directly matching the classes wont' help? If you change the number of labels that Vistas is using, then it would would be optimizing for less things which is should be able to do with less parameters (such is my thought at leas), because there is at least some correlation because intrinsic dimensionality and class size. If this isn't true though, I'd like to know becau

[2019-07-08 05:53] AmeetR commented on #99
@geekboood  I'd also appreciate the answer to these same questions, I'm workin on a comparison study for my internship and it would be very helpful.

[2019-07-08 05:54] AmeetR commented on #93
@rotabulo  do you have advice for training on other datasets?

[2019-07-08 05:55] AmeetR commented on #90
Following. Would also want the answer to this (and other custom datasets). rn I'm thinking about just modifying the imagenet code to work, but I'm not sure how easy that would be. Maybe it would be easier just to write our own code using the model.py files.

[2019-07-10 08:23] ducksoup commented on #118
In an effort to streamline the resolution process we are closing any issue not directly related with the InPlace-ABN _library and scripts_. Please use other channels if you need to contact us about our paper or the Mapillary Vistas dataset.

[2019-07-10 08:23] #118 closed

[2019-07-10 08:23] ducksoup commented on #113
In an effort to streamline the resolution process we are closing any issue not directly related with the InPlace-ABN _library and scripts_. Please use other channels if you need to contact us about our paper or the Mapillary Vistas dataset.

[2019-07-10 08:23] #113 closed

[2019-07-10 08:25] ducksoup commented on #117
Compilation of the native code automatically happens as part of the library installation process from v1.0.0 onward.

[2019-07-10 08:25] #117 closed

[2019-07-10 08:29] ducksoup commented on #115
This looks like a python module resolution issue. I would suggest to try again with the latest version of the code, since the scripts / library structure has been reworked.

[2019-07-10 08:32] ducksoup commented on #111
We currently support only Linux systems. Off course, please feel free to post here in case you find a solution for this.

[2019-07-10 08:32] #111 closed

[2019-07-10 08:32] ducksoup commented on #110
In an effort to streamline the resolution process we are closing any issue not directly related with the InPlace-ABN _library and scripts_. Please use other channels if you need to contact us about our paper or the Mapillary Vistas dataset.

[2019-07-10 08:32] #110 closed

[2019-07-10 08:34] ducksoup commented on #109
Can you try again with the latest version of the library? We were (rarely) encountering similar issues before `v1.0.0`, but not anymore after the update.

[2019-07-10 08:35] ducksoup commented on #108
This is fixed from `v1.0.0`.

[2019-07-10 08:35] #108 closed

[2019-07-10 08:35] ducksoup commented on #104
This is fixed since `v.1.0.0`.

[2019-07-10 08:35] #104 closed

[2019-07-10 08:37] ducksoup commented on #99
Can you try again with the latest version of the library (`v1.0.2`)?

[2019-07-10 08:37] #96 closed

[2019-07-10 08:38] ducksoup commented on #93
In an effort to streamline the resolution process we are closing any issue not directly related with the InPlace-ABN _library and scripts_. Please use other channels if you need to contact us about our paper or the Mapillary Vistas dataset.

[2019-07-10 08:38] #93 closed

[2019-07-10 08:40] ducksoup commented on #92
ABN is intended as a replacement of Pyotrch's standard BN + activation function, and not as a non-inplace version of InPlaceABN. Since the naming might understandably generate confusion I'll update the ABN docstrings to highlight this.

[2019-07-10 08:40] #92 closed

[2019-07-10 08:40] ducksoup commented on #90
In an effort to streamline the resolution process we are closing any issue not directly related with the InPlace-ABN _library and scripts_. Please use other channels if you need to contact us about our paper or the Mapillary Vistas dataset.

[2019-07-10 08:40] #90 closed

[2019-07-10 08:42] ducksoup commented on #87
Since version `1.0.0` it's possible to install the InPlace-ABN library directly from pip with: `pip install git+https://github.com/mapillary/inplace_abn.git`.

[2019-07-10 08:42] #87 closed

[2019-07-10 08:42] ducksoup commented on #82
In an effort to streamline the resolution process we are closing any issue not directly related with the InPlace-ABN _code and scripts_. Please use other channels if you need to contact us about our paper or the Mapillary Vistas dataset.

[2019-07-10 08:42] #82 closed

[2019-07-10 08:43] #77 closed

[2019-07-10 08:43] ducksoup commented on #75
In an effort to streamline the resolution process we are closing any issue not directly related with the InPlace-ABN _code and scripts_. Please use other channels if you need to contact us about our paper or the Mapillary Vistas dataset.

[2019-07-10 08:43] #75 closed

[2019-07-10 11:31] vakkov commented on #99
I can also confirm that I have a slow training time (on a 4 GPU DGX-1 system...) and kind of bad results (with the older version of inplace_abn, though). My network is based on TernausNetV2 (which includes the inplace_abn and its wideresnet-38 implementation as a decoder). I will later adapt the code for DistributedDataParallel and give the new version a go (I use InPlaceABNSync).

[2019-07-10 15:14] ducksoup commented on #99
@vakkov thank you, please let us know about your findings!

**Note**: reproducing the results in "In-Place Activated BatchNorm for Memory-Optimized Training of DNNs" by training your own models is beyond the scope of this issues section. Unfortunately we don't have the resources necessary to assist github users with this task.

In order to keep the discussion focused on the `inplace_abn` library (

[2019-07-12 05:52] ngunauj opened #122 "Unknown activation function none？"
Is it necessary to use the activation function when use InPlaceABNSync?
Sometimes I just want to use bn without activation function,How can I set it up?

[2019-07-12 06:50] ngunauj commented on #122
may be i can use 'Identity' inplace  no activation function...

[2019-07-13 15:23] ducksoup commented on #122
@ngunauj exactly, the correct setting when you don't need an activation function is `activation="identity"`!

[2019-07-13 15:23] #122 closed

[2019-07-15 11:36] ngunauj opened #123 "error: identifier "std::log1p" is undefined in device code..."
[code]

[2019-07-15 11:38] ngunauj commented on #123
my pytorch version is 1.1.0

[2019-07-15 17:32] zhangyuxuan1996 opened #124 "In 'train_imagenet.py', Only the 'ABN' module is imported. Then, how does class 'InPlaceABNSync' work? Thanks for your help in advance."

[2019-07-16 08:42] rotabulo commented on #124
@zhangyuxuan1996 this is where inplaceabn is eventually used https://github.com/mapillary/inplace_abn/blob/master/scripts/imagenet/utils.py

[2019-07-16 08:42] #124 closed

[2019-07-16 14:58] ducksoup commented on #123
@ngunauj I suspect this is a CUDA 9.2 compatibility issue. I'll look for a work-around, in the meanwhile can you upgrade to the latest CUDA (10.1) and try again?

[2019-07-17 03:31] ngunauj commented on #123
I don't have permission to upgrade CUDA, so I used the old version of inplace_abn..

[2019-07-18 02:37] rotorliu commented on #123
My cuda version is 10.1
but there are still same errors.

[2019-07-18 03:06] ngunauj commented on #123
What is the gcc version?

[2019-07-18 03:34] twmht commented on #77
@luzai

[code]

Did you solve the accuracy drop problem?

[2019-07-18 05:14] rotorliu commented on #123
gcc version 5.4.0 20160609

[2019-07-18 08:46] ducksoup commented on #123
@rotorliu can you post the errors you are getting?

[2019-07-18 09:21] rotorliu commented on #123
include/cuda_utils.cuh(116): error: calling a constexpr __host__ function("std::log1p") from a __device__ function("reduce<    ::Float2<float> ,     ::GradOp<float, float,  ::at::PackedTensorAccessor<float, (unsigned long)3ul,  ::at::RestrictPtrTraits, int> , (    ::Activation)1> ,  ::at::PackedTensorAccessor<float, (unsigned long)3ul,  ::at::RestrictPtrTraits, int> > ") is not allowed. The experi

[2019-07-18 12:30] ducksoup commented on #123
@rotorliu @ngunauj I'm trying to reproduce your error, but to no avail. I think it might have to do with the specific versions of CUDA / gcc you are using, but I need to investigate further to find a proper solution.

In the meanwhile, you can try as a work-around to replace in `include/inplace_abn.h`, line 79, this:
[code]
with this:
[code]

[2019-07-19 00:53] rotorliu commented on #123
@ducksoup
Great! It works! Thank you

[2019-07-19 01:27] #123 closed

[2019-07-19 09:00] rotorliu opened #125 "train vistas"

[2019-07-19 09:00] #125 closed

[2019-07-19 19:45] brucemuller commented on #99
I'll try to run more again soon. What kind of training times are people getting? @vakkov

[2019-07-22 03:47] geekboood opened #126 "InPlaceABNSync forward result is inconsistent with nn.BatchNorm2d + nn.LeakyReLU"
Hello! I found that InPlaceABNSync forward result is inconsistent with nn.BatchNorm2d + nn.LeakyReLU. Is there anyway we can train the model with InPlaceABNSync and inference it with PyTorch native implementations?

[2019-07-22 07:30] rotabulo commented on #126
@geekboood please refer to https://github.com/mapillary/inplace_abn/issues/92

[2019-07-23 20:34] khoshsirat-udel opened #127 "Group Normalization"
Hi,
Is it possible to add support for Group Normalization (normalization over groups instead of batches)?
https://arxiv.org/abs/1803.08494
torch.nn.GroupNorm

[2019-07-24 03:38] twmht commented on #77
@rotabulo

Since the forward implementation is different from the standard one, so we have to fuse convolution and batch normalization before we convert the model weight to onnx for deployment?

[2019-07-24 07:26] rotabulo commented on #77
@twmht it should be possible to remap `InplaceABN` to `ABN` (i.e. BN + Activation) by simply remapping `weight`  to `weight.abs_() + eps`, where `esp=1e-5` unless you changed the default value

[2019-07-24 09:42] ducksoup commented on #127
This is not a trivial task, unfortunately. It has been on our radar for a while, but we can't promise anything for now.

[2019-07-24 10:08] #126 closed

[2019-07-26 12:38] jianlong-yuan opened #128 "Can't install by download file"
root:/data/research/seamseg-master# pip install inplace_abn-master.zip
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Processing ./inplace_abn-master.zip
    ERROR: Command errored out with exit status 1:
     command: /data/config/anaconda3/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-req-build-1w23bkoz/setup.py'"'"'; __file__='"'"'/tmp/pip-req-build-

[2019-07-26 12:46] jianlong-yuan commented on #128
root:/data/research/seamseg-master/inplace_abn-master# ls
LICENSE  MANIFEST.in  README.md  equation.svg  include  inplace_abn  inplace_abn.png  licenses.csv  requirements.txt  scripts  setup.cfg  setup.py  src
root:/data/research/seamseg-master/inplace_abn-master# python setup.py install
/data/config/anaconda3/lib/python3.6/distutils/dist.py:261: UserWarning: Unknown distribution option: 'long_des

[2019-07-29 08:02] ducksoup commented on #128
@jianlong-yuan can you try to install with the following command, as explained in the README:
[code]

[2019-07-29 08:11] jianlong-yuan commented on #128
I am so sorry, because i could not use git. I have to compile it with downloaded file.

[2019-07-29 08:21] ducksoup commented on #128
Then the correct way to install is the following:
1. Download the zip file and extract it
2. `cd` into the extracted directory and run `python setup.py install` or `pip install .`

[2019-07-29 08:26] jianlong-yuan commented on #128
I just do as you say.
The first error: LookupError: setuptools-scm was unable to detect version for '/tmp/pip-req-build-1w23bkoz'.

I fix it by export SETUPTOOLS_SCM_PRETEND_VERSION=3.3.3

But i got anthor error.
ImportError: /data/config/anaconda3/lib/python3.6/site-packages/inplace_abn/_backend.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZNSt11logic_errorC2EPKc

[2019-07-29 08:52] ducksoup commented on #128
Can you give me an overview of your system setup, in particular:
* What CUDA / gcc version are you using?
* What is the output of `conda list`?

[2019-07-29 08:55] jianlong-yuan commented on #128
CUDA 9.0
GCC 5.4.0

root:~# conda list
# packages in environment at /data/config/anaconda3:
#
_ipyw_jlab_nb_ext_conf    0.1.0            py36he11e457_0
_license                  1.1                      py36_1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free
absl-py                   0.7.0                     <pip>
addict                    2.2.1                     <pip>
alabaster

[2019-07-29 08:57] jianlong-yuan commented on #128
┌────────────────────────────────────────────────────────────────────┐
     │                • MobaXterm Personal Edition v11.1 •                │
     │              (X server, SSH client and network tools)              │
     │                                                                    │
     │ ➤ Your computer drives are accessible through the /drives path     │
     │ ➤ Your DISPLAY is

[2019-07-29 09:24] ducksoup commented on #128
The package versions look fine. The two issues I'm seeing are:
1. Our `setup.py` installation script uses the `setuptools-scm` library, which assumes that the installation is always run from an actual git repository. Since you can't use git directly on your machine, can you `git checkout` the repo an a different machine and then copy _the whole folder_ on the one you are working on?
2. Your CUDA /

[2019-07-30 06:55] jianlong-yuan commented on #128
I try again. But i get the same error, when i import inplace abn:

`root:/data/research/inplace_abn/scripts# python
Python 3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:09:58)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/data/confi

[2019-07-30 10:01] jianlong-yuan commented on #128
I have fixed the error.
I just do as below:
conda install libgcc

[2019-07-30 10:01] #128 closed

[2019-08-04 12:07] miquelmarti opened #129 "Support for cpu-only pytorch"
Hi,

I have pytorch-cpu 1.1.0 in a development machine with no GPU. I can't install your package as I get the following error both installing with pip or with python setup.py install

[code]

Is your package only supported for CUDA-enabled pytorch or is there a way to get it to work for pytorch-cpu too?

[2019-08-13 00:00] bonlime opened #130 "No 'num_batches_tracked' in state_dict"
Native torch BatchNorm has  `num_batches_tracked` in it's state_dict, while ABN doesn't. It makes loading weights trained with usual BN+Activation inconvenient. Is there any reason why you didn't add this item into the dict?

[2019-08-14 07:56] ducksoup commented on #130
The reason why there's no `num_batches_tracked` is that we don't support the "cumulative moving average" mode, i.e. `momentum=None` in Pytorch's standard BN layer, introduced in Pytorch 1.0. Support for loading BN weights from both pre-1.0 (i.e. without the `num_batches_tracked` parameter) and post-1.0 models is not straightforward, but we are working on a fix.

In the meanwhile, a simple work-aro

[2019-08-14 08:32] ducksoup commented on #130
I just found an easier solution to this issue, please update to `v1.0.4` for a fix.

[2019-08-14 08:32] #130 closed

[2019-08-14 10:34] bonlime commented on #130
Thx for a quick fix!

[2019-08-15 03:15] LGYoung opened #131 "AssertionError: Default process group is not initialized"
File"~/anaconda3/envs/pytorch1.1/lib/python3.6/sitepackages/torch/distributed/distributed_c10d.py", line 191, in _check_default_pg  "Default process group is not initialized"
AssertionError: Default process group is not initialized
My env is:
Ubuntu 18.04
Cuda 10.0
Pytorch 1.1
GPU: 1 1080Ti and 1 1080
And I have tried run it on both 1 GPU and 2 GPUs but got the same problem.
Could u give me some h

[2019-08-16 11:36] yyfyan opened #132 "ninja error"
/usr/local/lib/python2.7/dist-packages/torch/utils/cpp_extension.py:118: UserWarning:

                               !! WARNING !!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Your compiler (c++) may be ABI-incompatible with PyTorch!
Please use a compiler that is ABI-compatible with GCC 4.9 and above.
See https://gcc.gnu.org/onlinedocs/libstdc++/manual/abi.html

[2019-08-16 11:38] yyfyan commented on #132
My env:
pytorch0.4.1
python2.7
gcc 5.4.0
cuda:9.2

[2019-08-16 11:40] yyfyan commented on #132
I use the v0.0.3 branch， Can you give me some solvtion. Thanks.
@kardotim @rotabulo @ducksoup @pkontschieder

[2019-08-20 01:29] beinanwang opened #133 "ABN doesn't reduce memory requirement at all?"
Hi, I'm using a UNet alike model for semantic segmentation. In my network, intermediate results are frequently stored. For example:

x = relu(bn1(conv1))
x1 = x
x2 = relu(bn2(conv2))
...

I found in my case using ABN or standard BN does not make any difference. Is it because ABN doesn't save memory if intermediate results need to be stored?

[2019-08-20 09:46] ducksoup commented on #133
@beinanwang can you show a minimal code example of your use case?

[2019-08-20 09:47] ducksoup commented on #131
@LGYoung what is the exact command you are using to launch the training?

[2019-08-20 09:49] ducksoup commented on #132
I'm sorry but we can't offer support for InPlace-ABN versions previous to `1.0.0` anymore.
Thank you for your understanding.

[2019-08-20 09:49] #132 closed

[2019-08-20 14:54] ducksoup commented on #129
This is now added in `v1.0.5`.

[2019-08-20 14:54] #129 closed

[2019-08-20 16:34] beinanwang commented on #133
Sorry, my company doesn't allow me to post unpublished work. I'll update this issue when the work is published. Thanks.

[2019-08-20 17:57] rotabulo commented on #133
@beinanwang Just to be clear, ABN is just standard BN + Activation. You should use InplaceABN for memory savings.

[2019-08-22 18:00] bonlime commented on #6
For anyone who also has this problem:
In Resnet / ResNeXt / Se-Resnet changing:
[code]
to
[code]
fixes the problem and don't give any overhead. While changing ` out += residual` to `out = out + residual` gives a huge speed penalty.

[2019-08-26 07:26] blakeliu opened #134 "cuda-10.0 build error"
gcc version 5.4.0
OS：Ubuntu16.4
CUDA Version: 10.0
pytorch： 1.1.0

`pip install git+https://github.com/mapillary/inplace_abn.git@v1.0.6`
###  error!
**include/cuda_utils.cuh(116): error: identifier "std::log1p" is undefined in device code

include/inplace_abn.h(79): warning: calling a constexpr __host__ function("std::log1p") from a __host__ __device__ function("ActivationFn< ::c10::Half, ( ::Acti

[2019-08-28 02:34] yu1206 opened #135 "支持 window 安装么"

[2019-08-29 01:47] meshiang commented on #134
I also stumble upon this error when I use Pytorch 1.1 and cuda 9.2
My quick solution was to upgrade to Pytorch 1.2 and cuda 9.2. Hope this helps!

[2019-08-29 07:45] #135 closed

[2019-08-29 08:32] ducksoup commented on #134
@blakeliu @meshiang I implemented a possible fix for this and other related errors, can you try again with the latest master?

[2019-08-29 09:41] meshiang commented on #134
I tried v1.0.7 and I successfully installed it.
I am using Pytorch 1.1 and Cuda 10.0.

[2019-08-30 01:08] blakeliu commented on #134
@meshiang You are right！

[2019-08-30 03:37] PkuRainBow opened #136 "Performance drops compared with Pytorch0.4.1"
Really good work!
We have attempted to train our model with the pytorch1.2 and the updated your latest inplace ABN. We find that the performance (with all the same training settings) slightly drops compared with the previous pytorch0.4.1.

We report their results on Cityscapes val set as below,

It would be great if anyone could share with me some advice!

[2019-09-03 13:02] ducksoup commented on #134
@meshiang @blakeliu good, I'll close the issue and add the fixes to the next release. Thank you for your bug report!

[2019-09-03 13:02] #134 closed

[2019-09-03 23:26] 18608003987 opened #137 "can not compile base on Win10 + PyTorch 1.0 + VS2017 +Cuda 10.0.130"
Is there anyone can compile it on   Win10 + PyTorch 1.0 + VS2017 +Cuda 10.0.130 ?

when I compile it I got the error message 👎
-----------------------------------------------------------------------------------------------
src\inplace_abn_cpu.cpp(15): warning C4244: “return”: 从“int64_t”转换到“int32_t”，可能丢失数据
src\inplace_abn_cpu.cpp(130): error C2440: “初始化”: 无法从“c10::ScalarType”转换为“const at::Type &”
s

[2019-09-04 16:37] ducksoup commented on #137
@18608003987 The references to PyTorch 1.0 are outdated, the code actually requires version 1.1. I'll update the README and requirements files accordingly.

As an aside, I would like to point out that, unfortunately, we are unable to provide support for Windows systems. I'm sorry about that.

[2019-09-04 16:37] #137 closed

[2019-09-13 15:19] vadimkantorov opened #138 "Feature request: support for BatchNorm1d variant"
This would be super-useful for speech recognition wav2letter model variants.

Thanks :)

[2019-09-16 14:04] bwang-delft commented on #136
Hi, are you using the same random seeds for numpy, cuda and dataloader?

[2019-09-16 14:48] PkuRainBow commented on #136
@bwang-delft  We simple set the random seeds as below (the default value of seed is 304),

[code]

[2019-09-16 19:12] jhagege commented on #129
Works great on v1.0.5, any chance it could be supported on latest versions, such as v1.0.7?
Thanks.

[2019-09-16 23:27] bwang-delft commented on #136
I think you also need to set the random seed for CUDA if you are using GPU. I'm not sure how to set the random seed for dataloader. I think https://github.com/pytorch/pytorch/issues/7068 discusses how to do that

[2019-09-18 22:25] vadimkantorov commented on #138
I created a feature request in core pytorch about providing the necessary instruments to simplify implementation of inplace-activated batchnorm. Currently I'm proposing an out argument for F.batch_norm and exposing the backward method that accepts input (that can be recomputed manually).

Please feel free to comment on what else is needed (and if the above are helpful): https://github.com/pytorch/

[2019-09-21 07:35] weixianghong opened #139 "InplaceABN doesn't reduce GPU memory usage"
I am trying to reduce the memory cost of ResNet-101. Below are my modifications to the Bottleneck class. I didn't observe the reduce of memory cost.
[code]

[2019-09-24 03:39] allenfutaki opened #140 "Curious about where to find header files used in c++ when installing"
Thanks for your great work.

These are header files used in pytorch.
`#include <ATen/ATen.h>`
`#include <ATen/AccumulateType.h>`
`#include <ATen/cuda/detail/IndexUtils.cuh>`
`#include <c10/cuda/CUDAStream.h>`
`#include <c10/util/Optional.h>`

I am curious about how does the [codes](https://github.com/mapillary/inplace_abn/blob/master/src/inplace_abn_cuda.cu) find the path to use these header files

[2019-09-24 22:32] vadimkantorov commented on #138
oh cool :) i will try it.

For core pytorch, should that be enough if [native_batch_norm](https://github.com/pytorch/pytorch/blob/3f72bcfcaacadfbbfb40e1cc32fc15fdec26bca5/aten/src/ATen/native/native_functions.yaml#L1917) accepts `output` argument

[native_batch_norm_backward](https://github.com/pytorch/pytorch/blob/3f72bcfcaacadfbbfb40e1cc32fc15fdec26bca5/aten/src/ATen/native/native_functions.yaml

[2019-09-25 06:54] ducksoup commented on #140
@allenfutaki Paths are handled by Pytorch's extension system: https://pytorch.org/docs/stable/cpp_extension.html

[2019-09-25 06:54] #140 closed

[2019-09-25 06:58] ducksoup commented on #139
@weixianghong are you passing `fix_bn=True` while comparing memory consumption?

[2019-09-25 07:36] weixianghong commented on #139
@ducksoup  I tried both ```fix_bn=False``` and ```fix_bn=True```, and didn't observe memory usage reduce in either case.

[2019-09-25 08:15] ducksoup commented on #139
@weixianghong how are you measuring memory usage exactly?

[2019-09-25 08:22] weixianghong commented on #139
@ducksoup I am using this [script](https://github.com/jacobkimmel/pytorch_modelsize)

[2019-09-25 08:33] weixianghong commented on #139
@ducksoup I am training a very deep ResNet on V100 GPU, with input image size as 240*320. Each GPU can only hold one image. If I increased the image size to 360*480, the training will be killed due to large memory request.
I am expecting that InplaceABN can reduce the memory consumption of my model, so that I can increased the image size. However, after I replace the Bottleneck class of my ResNet

[2019-09-25 09:09] rotabulo commented on #139
@weixianghong the increasing factor of the total number of input pixels in your example is 2.25x, which roughly translates into an equivalent increase factor in memory. InplaceABN in a ResNet with identity mapping can lead to gains not larger than 2x, but this gain is reduced to 1.5x in the case of standard Resnet (which is the one you implemented).

[2019-10-02 08:03] BloodAxe opened #141 "InplaceABN produce different results compared to ABN"
Hi,

Is it expected that `InplaceABN` provides slightly different results compared to `ABN`?

The different is quite small, but it's noticeable and it's not very clear to my why it exists at all.
I'm using PyTorch 1.2 with CUDA 10.0 on Ubuntu 18.04, `inplace_abn==1.0.7`.

Here's the code to reproduce the issue:

[code]

This code gives the following output:
[code]

As you can see the problem exist

[2019-10-02 08:06] rotabulo commented on #141
@BloodAxe please refer to https://github.com/mapillary/inplace_abn/issues/92

[2019-10-02 08:06] #141 closed

[2019-10-14 11:00] NarasimmanSaravana1994 opened #142 "RuntimeError: CUDA error: out of memory"
detection/inplace_abn/output', '--world-size', '1', '--rank', '0']
--- Loading model from snapshot
Traceback (most recent call last):
  File "test_vistas_single_gpu.py", line 306, in <module>
    main()
  File "test_vistas_single_gpu.py", line 156, in main
    model = model.cuda().eval()
  File "/usr/local/lib/python3.7/site-packages/torch/nn/modules/module.py", line 311, in cuda
    return self._

[2019-10-14 11:00] NarasimmanSaravana1994 commented on #142
Is there are argument run without GPU ?

[2019-10-15 15:01] tetelias opened #143 "failed install"
When running recommended "pip install git+https://github.com/mapillary/inplace_abn.git@v1.0.7"
I get:
Building wheels for collected packages: inplace-abn
  Building wheel for inplace-abn (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /home/someone/anaconda3/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-req-build-clbtj92s/setup.py

[2019-10-16 14:32] PRC-Huang commented on #143
The same question ...

[2019-10-17 17:34] vadimkantorov commented on #138
After merging https://github.com/pytorch/pytorch/pull/27621, one can implement InplaceBatchNormLeakyRelu like this: https://github.com/pytorch/pytorch/issues/26288#issuecomment-539251421 Please let me know if this looks reasonable

[2019-10-22 06:35] mrT23 opened #145 "inplace_ABN is not working with pytorch 1.3"
when I try to install ABN with PyTorch 1.3 I get an error message:
"
 src/inplace_abn_cpu.cpp:76:28: error: call of overloaded 'mean(<brace-enclosed initializer list>)' is ambiguous
     auto mean = x.mean({0, 2});
"

in PyTorch 1.2 the installation works

[2019-10-26 02:24] mattzque commented on #145
#144

[2019-11-13 11:30] #138 closed

[2019-11-13 11:35] vadimkantorov opened #146 "Question: inplace backward"
Do I understand correctly that grad_input [is computed not inplace](https://github.com/mapillary/inplace_abn/blob/master/src/inplace_abn_cuda.cu#L197)? Is it possible? And if potentially possible, does it make sense to [try to do it inplace either](https://github.com/mapillary/inplace_abn/blob/master/src/inplace_abn_kernels.cuh#L251-L252)? (or maybe PyTorch memory system will quickly recycle the u

[2019-11-13 11:38] rotabulo commented on #146
@vadimkantorov to our knowledge, PyTorch should efficiently release the memory once it's not needed anymore, but we have never verified it. I am not sure we can overwrite `input_grad`, since it could be that the same copy is passed to another backward branch (again to be verified).

[2019-11-13 11:39] vadimkantorov commented on #146
Thanks!

[2019-11-13 11:39] #146 closed

[2019-11-19 03:40] zhizhangxian opened #147 "from . import _backend"
Great work， Awesome！
When I install the ABN just follow the readme.md , it successed.
But when I use the command ``` from inplace_abn import ABN ``` in python , it will return an error
[code]
but when I rename the file "inplace_abn/inplace_abn/_backend.pyi " to "inplace_abn/inplace_abn/_backend.py ", it can work, how do you think about it? Or should I use another way to solve it? Thank!

[2019-11-22 14:52] ducksoup commented on #145
This is now fixed.

[2019-11-22 14:52] #145 closed

[2019-11-22 14:53] #139 closed

[2019-11-22 14:55] ducksoup commented on #143
@tetelias Can you please list the versions of CUDA, Pytorch and gcc you are using?

[2019-11-28 05:21] ginobilinie opened #148 "from inplace_abn import InPlaceABN, InPlaceABNSync error"
When I do:
from inplace_abn import InPlaceABN, InPlaceABNSync

there is an error:

/home/xx/.local/lib/python3.6/site-packages/inplace_abn-1.0.7-py3.6-linux-x86_64.egg/inplace_abn/_backend.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN3c105ErrorC1ENS_14SourceLocationERKSs

Can anyone help me?

[2019-12-02 18:19] ginobilinie opened #149 "inplaceabn backward error"
Hi, I encounter an inplaceabn backward error when I use InplaceABNSync in my model. Can anyone help?

The detailed error information:

RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation: [torch.cuda.FloatTensor [2, 1024, 16, 16]], which is output 0 of InPlaceABNBackward, is at version 2; expected version 1 instead. Hint: enable anomaly dete

[2019-12-02 19:51] bwang-delft opened #150 "Does the synchronized version of abn support fp16 training?"
The regular abn supports fp16 training but I couldn't make sync_abn work with fp16 training. Did I do something wrong?

[2019-12-03 06:35] TianMingChen opened #151 "install fatal"
![image](https://user-images.githubusercontent.com/20785298/70026117-e73f6700-15d9-11ea-8b71-074d8e0e7bc6.png)
Hi,I install in cuda 9.0,and such problem hapeened,do you have some solution?

[2019-12-05 09:27] ducksoup commented on #149
@ginobilinie this error is a common occurrence when replacing layers in a network architecture with in-place versions, and it's not InplaceABN-specific. Please review your architecture and make sure that no tensor is ever overwritten twice by two separate in-place operations. Are you by any chance replace standard BN with InplaceABN in Pytorch's implementation of ResNet?

[2019-12-05 09:29] ducksoup commented on #150
@bwang-delft can you please provide more context about the way you are using fp16 with sync_abn and the errors you are encountering?

[2019-12-05 10:05] ducksoup commented on #151
@TianMingChen this is not an InplaceABN issue, but something related to the way your python environment is set up. Do you have `python-dev`, or the equivalent package for your OS, currently installed?

[2019-12-05 10:05] #151 closed

[2019-12-05 10:08] ducksoup commented on #148
@ginobilinie This appears to be an issue related to your python environment. Are you able to compile any other code that includes pythorch c++ extensions, e.g. following this tutorial: https://pytorch.org/tutorials/advanced/cpp_extension.html

[2019-12-05 10:46] TianMingChen commented on #151
thank you , it have been solved.

[2019-12-05 21:43] ginobilinie commented on #149
Thanks.

I have now made clear the error, I indeed used inplace ops twice (relu(inplace=true))...

[2019-12-05 21:43] ginobilinie commented on #148
Thanks. I'll try your method.

[2019-12-09 13:51] #149 closed

[2019-12-10 19:29] bwang-delft commented on #150
(1) replace every ABN layer with InPlaceABNSync layer in my network
(2) change activation from 'relu' to 'leaky_relu'
(3) cast my model to half()
(4) use 2 gpus, set batch size to 1 on each
(5) start my training script with the following command: python3 -m torch.distributed.launch --nproc_per_node=2 train.py

The training process was successful but failed after the first epoch. I got the followin

[2019-12-10 19:30] bwang-delft commented on #150
I have another question. Why does ABN support relu activation but InPlaceABNSync does not?

[2019-12-10 21:42] bwang-delft commented on #150
It seems that the first validation loss calculation caused the crash. Training is fine but somehow validation causes an error.

[2019-12-10 21:50] bwang-delft commented on #150
OK. The cause is model.eval() but why?

[2019-12-11 08:26] ducksoup commented on #150
InPlaceABN and InPlaceABN sync require invertible activation functions such as Leaky ReLU (please refer to our paper for an explanation). ABN is just a wrapper for standard Batch Norm (not in-place) + activation function, so it can also work with ReLU which is not invertible.

Regarding the error you are getting in eval, this is caused by the fact that the current fp16 implementation of InPlaceABN

[2019-12-11 15:46] bwang-delft commented on #150
Thanks, your answer is very helpful.

[2019-12-11 15:46] #150 closed

[2019-12-19 15:05] tjpulkl opened #153 "ValueError: Unknown activation function none"
![image](https://user-images.githubusercontent.com/57160561/71183848-0ae1fd00-22bc-11ea-9522-a8c12ae42e50.png)

I replaced 'modules' to 'libs' and delete old 'libs' repo to use pytorch 1.0.
And do you know this error?
I tried to replace 'relu' to 'leaky relu' but there is same problem like above image.

Plz help me.
Thank you.

[2019-12-19 16:21] rotabulo commented on #153
@tjpulkl in the past we used `none` for no activation, but now it became `identity`. Maybe you are still assigning `none` as activation when porting from the old code?

[2019-12-20 00:22] tjpulkl commented on #153
![image](https://user-images.githubusercontent.com/57160561/71219869-0ba18000-230a-11ea-9ac1-03b208297401.png)
thank you for your reply. when I changed no activation to identity, it occur another problem.

[2019-12-20 14:11] tjpulkl opened #154 "Could you give me an example code on how to use inplace_abn"
thank you!

[2019-12-24 08:07] ducksoup commented on #154
The [scripts](/mapillary/inplace_abn/tree/master/scripts) folder contains extensive code to train and test InPlace-ABN networks, both on image recognition and image segmentation. Please refer to _e.g._ [resnet.py](/mapillary/inplace_abn/blob/master/scripts/models/resnet.py) and [train_imagenet.py](/mapillary/inplace_abn/blob/master/scripts/train_imagenet.py) for examples of how to build networks w

[2019-12-24 08:07] #154 closed

[2019-12-24 08:10] ducksoup commented on #153
@tjpulkl your current issue has nothing to do with the activation function. What the error message you are getting is telling you is that Pytorch's distributed training functionalities are not initialized. These are required when using `InPlaceABNSync`. Please refer to [this page](https://pytorch.org/docs/stable/distributed.html) for further information on the topic.

[2019-12-24 08:13] ducksoup commented on #147
@zhizhangxian are you by any chance running your script or your python console from `inplace_abn`'s main folder? In that case python will try to load the `inplace_abn` library from the local copy, which does not contain the compiled native library, instead of the one you installed following the instructions in `README`. This is the reason why our scripts for training / inference are located in the

[2019-12-25 01:38] zhizhangxian commented on #147
Sure, thanks!

[2019-12-25 01:38] #147 closed

[2019-12-25 07:58] xiaodao2049 opened #155 "InPlaceABN backward is total different from nn.BatchNorm2d"
I do the following test, given the same input, outputs of nn.BatchNorm2d and InPlaceABN is the same, but the backward is totally different,I want to konw if there's a bug here or the way I test is wrong.
[code]

[2019-12-30 14:23] wuyang556 opened #156 "ImportError: cannot import name "_backend""
After I finished install inplace_abn,  I want to import this module, then encounter this error. I find a different py file "_backend.pyi" in path "/inplace_abn/inplace_abn/_backend.pyi". Is the suffix of this file wrong ? After I change this file's suffix to .py, it work. But I don't more work to validate this, I doubt whether it work. thx. @peterneubauer

[2019-12-31 10:08] scarftdd commented on #131
Hello, I have the same issue, my command is
BatchNorm2d = functools.partial(InPlaceABNSync, activation='identity')
self.bn1 = BatchNorm2d(64)
then forward:
self.bn1(self.conv1(x))
the issue is:
  File "/home/ubuntu/anaconda3/envs/py3.6/lib/python3.6/site-packages/torch/distributed/distributed_c10d.py", line 588, in get_world_size
    return _get_group_size(group)
  File "/home/ubuntu/anaconda3/env

[2020-01-06 12:19] knsong opened #157 "about Inplace ABN II"
Hi,
thank you for the work first,
and do you have the plan to open source In-Place Activated Batch Normalization II since it is more computation efficient?

[2020-01-07 14:45] ducksoup commented on #155
@xiaodao2049 thank you for your bug report, this helped us discover an issue with the way we compute the backward pass, which has a nasty interaction with some other Pytorch operations. While in many cases the backward is computed correctly, when InPlaceABN is directly followed by `sum()` the backward computation breaks. You can easily verify this by _e.g._ replacing `out{1,2}.sum().backward()` wi

[2020-01-07 14:45] #155 closed

[2020-01-07 14:52] ducksoup commented on #131
@scarftdd Maybe there's been a misunderstanding, I didn't mean to ask what is the Python code being used. I'm interested to know _how_ the code is run: directly from the Python interpreter vs. ipython vs. a script launched with `python script.py` etc.

This is relevant because of the way Pytorch distributed execution, which `InPlaceABNSync` uses, works. For an in-depth explanation refer to: https:

[2020-01-07 14:54] ducksoup commented on #156
@wuyang556 are you running your code from inside the main folder of the `inplace_abn` repo by any chance?

To answer your other question, the file is named correctly: pyi is the extension of Python "stub" files.

[2020-01-07 14:55] #153 closed

[2020-01-08 08:32] scarftdd commented on #131
I use python3.6 version, a script launch

[2020-01-08 08:43] ducksoup commented on #131
@scarftdd scripts using `InPlaceABNSync`, same as any other Pytorch script involving distributed functionality, must include multiprocessing initialization logic as described [here](https://pytorch.org/docs/stable/distributed.html#initialization), and possibly be launched using the pytorch distributed launch utility (_i.e._ `python -m torch.distributed.launch [torch.distributed.launch params] your

[2020-01-08 08:43] #131 closed

[2020-01-11 01:55] #157 closed

[2020-01-14 14:53] knsong commented on #155
Can you please explain what happens in the backward computation when there is output in-place operation in InPlaceABN backward and  InPlaceABN is directly followed by `sum()` ?

[2020-01-23 09:06] bonlime commented on #92
For anyone interested in exporting models trained with InPlaceABN:
This code fixed the difference
[code]
for me it outputs something around `5e-07`

[2020-01-24 15:22] kwea123 opened #158 "Support for pytorch1.4.0"
Currently, the code cannot compile with torch 1.4.0 (it can work with 1.3.1). It produces lots of "... is deprecated" warnings and finally an error which prevents it from compiling:
[code]

[2020-01-27 14:05] ducksoup commented on #158
@kwea123 These are fixed in the latest release.

[2020-01-27 14:05] #158 closed

[2020-02-11 03:24] Kenneth-X opened #159 "fatal error: c10/cuda/CUDAStream.h: No such file or directory"
$python setup.py install
True
/home/yuxi.xt/software/anaconda3/lib/python3.6/distutils/dist.py:261: UserWarning: Unknown distribution option: 'long_description_content_type'
  warnings.warn(msg)
running install
running bdist_egg
running egg_info
writing inplace_abn.egg-info/PKG-INFO
writing dependency_links to inplace_abn.egg-info/dependency_links.txt
writing top-level names to inplace_abn.egg-inf

[2020-02-11 03:25] Kenneth-X opened #160 "fatal error: c10/cuda/CUDAStream.h: No such file or directory"
MY cuda is cuda 9.0 pytorch=1.0

$python setup.py install
True
/home/yuxi.xt/software/anaconda3/lib/python3.6/distutils/dist.py:261: UserWarning: Unknown distribution option: 'long_description_content_type'
  warnings.warn(msg)
running install
running bdist_egg
running egg_info
writing inplace_abn.egg-info/PKG-INFO
writing dependency_links to inplace_abn.egg-info/dependency_links.txt
writing top-l

[2020-02-11 13:39] ducksoup commented on #159
@Kenneth-X which version of Pytorch are you using?

[2020-02-11 13:41] Kenneth-X commented on #159
version 1.0 with cuda 9.0

[2020-02-11 13:43] #160 closed

[2020-02-11 13:44] ducksoup commented on #159
As specified in the README, InPlace-ABN requires Pytorch v1.1 or later and CUDA 10 or later. Please update and try again.

[2020-02-11 13:44] #159 closed

[2020-02-11 13:53] Kenneth-X commented on #159
thanks，but to match the  requirements of my online environment and c++ project(onnx and tensorRT speed up)
my pytorch and cuda  is not easy to upgrade
is there any  idea or old version to match 1.0 version with cuda 9.0 ?

[2020-02-11 14:04] ducksoup commented on #159
@Kenneth-X Version `0.1.1` is compatible with Pytorch 1.0, but it is missing many improvements and bug-fixes we released later, so I can't really recommend to use it. The code at that stage was not even packaged as an installable pip package, so you would have to download, build and integrate it manually in your project.

The main source of incompatibility between Pytorch 1.0 and later version is